/*
* =============  MUI TABLE CONTAINER AND COMMONS =============
*/
.react-table-container {
    /* height: 100%; */
    overflow: hidden;
    height: 100%;
    // max-height: 88%;
}

.mui-table-container {
    max-height: 884px !important;
}

// HEADERS SORTING ICONS
.css-1yqocqp-MuiTableCell-root .MuiSvgIcon-root:first-child {
    color: white !important;
}

@media only screen and (max-height: 900px) {
    .mui-table-container {
        max-height: 705px !important;
    }
}

@media only screen and (max-height: 800px) {
    .mui-table-container {
        max-height: 573px !important;
    }
}


/*
* =============  MUI TABLE FILTER BLOCK MODAL =============
*/
.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation8.MuiPopover-paper.css-1t52068-MuiPaper-root-MuiPopover-paper {
    .MuiBox-root {
        background-color: #131314;
        border-radius: 5px;
        border-color: white;

        div {
            color: white;

            
            button {
                color: gray;
            }

            button:after {
                color: white;
            }
        }

        p {
            color: lightgray;
            margin-top: 5px;
        }

        .css-953pxc-MuiInputBase-root-MuiInput-root::before {
            border: 1px solid gray;
            padding-top: 5px;
            border-radius: 5px;
        }

        .css-953pxc-MuiInputBase-root-MuiInput-root::after {
            border: none;
        }
    }
}

.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded {
    color: white;
    background-color: #131314;

    .MuiListItemIcon-root.css-cveggr-MuiListItemIcon-root {
        color: white;
    }
}


/*
* =============  MUI TABLE HEADER STYLES =============
*/
th.MuiTableCell-root.MuiTableCell-head.MuiTableCell-stickyHeader.MuiTableCell-alignLeft.MuiTableCell-sizeMedium.css-1yqocqp-MuiTableCell-root {
    width: 240px;
}


/*
* =============  MUI TABLE BODY STYLES =============
*/
td.MuiTableCell-root.MuiTableCell-body.MuiTableCell-alignLeft.MuiTableCell-sizeMedium.css-116xlwv-MuiTableCell-root {
    width: 250px;

    .tooltipFullName:before, .tooltipFullName:after {
        display: none;
    }
}




/*
* =============  MUI TABLE FOOTER STYLES =============
*/
.mui-table-footer {
    position: fixed !important;
    bottom: 0;
    // left: 0;
    // width: calc(100% - 20px);
    width: calc(100% - 0px);
    padding: 10px 0;
    margin-block: 0 40px;
    flex: 0 0 30px;

    .MuiBox-root.css-1llu0od {
        bottom: 18px;
    }

    .MuiInputBase-root.MuiInput-root.MuiInputBase-colorPrimary.css-1mmm5cp-MuiInputBase-root-MuiInput-root-MuiSelect-root,
    .MuiBox-root.css-exd1zr.mui-footer-rows-per-page-input,
    .mui-footer-rows-per-page-input {
        // margin-left: 20rem;
        position: fixed;
        right: 5rem;
    }

    // NAV FOR PAGINATION
    nav {
        margin-left: 8rem;

        ul {
            li:first-child {
                display: none;
            }

            li:last-child {
                display: none;
            }

            li {
              button:hover,
              .css-yuzg60-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected:hover {
                background-color: #131314;
                color: white;
              }
            }
        }
    }
}

.mui-table-footer.MuiBox-root.css-1xb3m3a {
    height: 50px;
    border-top: 1px solid #313037;
}
