// New Css color code implemented

// Theme Transparent
$themeTransparent: transparent;

// Primary

// Theme Default Primary
$themeDefaultPrimary1: #0094ff;
$themeDefaultPrimary2: #ffffff;
$themeDefaultPrimary3: #bdbdbd;
$themeDefaultPrimary4: #767485;
$themeDefaultPrimary5: #111;
$themeDefaultPrimary6: rgba(255, 255, 255, 0.7);
$themeLightPrimary1: #605bff;

// Theme Light Primary
$themeLightPrimary2: #212121;
$themeLightPrimary3: #11e6b4;
$themePrimaryBlue2: #f0efff;

// Theme Primary Blue
$themePrimaryBlue3: #f7f7ff;
$themePrimaryBlue4: #fcfdff;
$themePrimaryBlue6: #2922ff;
$themePrimaryBlue7: #e5f5ff;
$themePrimaryBlue8: rgb(137 163 255 / 10%);
$themePrimaryBlue9: rgb(137 163 255 / 35%);
$themePrimaryBlue10: rgba(0, 148, 255, 0.1);
$themePrimaryBlue11: #827eff;
$themePrimaryBlue12: rgba(3, 2, 41, 0.7);
$themePrimaryBlue13: #004373;
$themePrimaryBlue14: #007ed9;
$themePrimaryBlue15: #5ebcff;
$themePrimaryBlue16: #91d1ff;
$themePrimaryBlue17: #00c9f5;
$themePrimaryBlue18: #0294b4;

// Secondary

// Theme Light Secondary
$themeLightSecondary1: #030229;
$themeLightSecondary2: #1f3e79;
$themeLightSecondary3: #6b7499;
$themeLightSecondary4: #929292;

// Theme Default Secondary
$themeDefaultSecondary1: #1c1c1e;
$themeDefaultSecondary2: #313037;
$themeDefaultSecondary3: #131314;
$themeDefaultSecondary4: #ededed;
$themeDefaultSecondary5: #333335;
$themeDefaultSecondary6: #fafafb;
$themeDefaultSecondary7: #edf0f9;
$themeDefaultSecondary8: #242424;
$themeDefaultSecondary10: #a8a8a8;
$themeDefaultSecondary11: #1a1a1a;
$themeDefaultSecondary12: #555555;

// Theme Secondary Blue
$themeSecondaryDarkBlue2: #4d4c6a;
$themeSecondaryDarkBlue3: #9a9aa9;
$themeSecondaryDarkBlue4: #a2a2b4;
$themeSecondaryDarkBlue5: #b3b3bf;
$themeSecondaryDarkBlue6: rgba(0, 148, 255, 0.2);
$themeSecondaryRoyalBlue2: #8998b8;

// Theme Secondary Grey
$themeSecondaryGrey1: #808080;
$themeSecondaryGrey2: #bac4d8;
$themeSecondaryGrey3: #f1f2f5;
$themeSecondaryGrey4: #f4f4f4;
$themeSecondaryGrey5: #303033;
$themeSecondaryGrey6: rgba(96, 91, 255, 0.05);
$themeSecondaryGrey7: #d3d3d3;
$themeSecondaryGrey8: #949393;
$themeSecondaryGrey9: #676e8f;
$themeSecondaryGrey10: #3b3b48;
$themeSecondaryGrey11: rgba(77, 77, 77, 20%);
$themeSecondaryGrey12: #bbbbbb;
$themeSecondaryGrey13: #2f2f33;
$themeSecondaryGrey14: #47474d;
$themeSecondaryGrey15: #56555b;
$themeSecondaryGrey16: #dbdbdb;
$themeSecondaryGrey17: #151516;
$themeSecondaryGrey18: #575757;
$themeSecondaryGrey19: #373737;
$themeSecondaryGrey20: #c7c7c7;

// Shades

// Theme Black
$themeBlack1: #000000;
$themeBlack6: #2c2c2e;
$themeBlack7: #26262a;
$themeBlack8: rgb(49 48 55 / 50%);
$themeBlack9: #999;

// Theme Green
$themeGreen: #00ca14;
$themeGreen1: #3a974c;
$themeGreen2: #52d9bb;
$themeGreen3: #ebf5ed;
$themeGreen4: #005911;
$themeGreen5: #006d15;
$themeGreen6: rgba(27, 77, 32, 1);
$themeGreen7: #49ce56;
$themeGreen8: #a4cea8;
$themeGreen9: rgba(17, 230, 180, 0.2);
$themeGreen10: #83c68a;
$themeGreen11: #112420;
$themeGreen12: #086751;
$themeGreen13: #00c22b;
$themeGreen14: #3aa545;

// Theme Yellow
$themeYellow1: #fec600;
$themeYellow2: #fef4eb;
$themeYellow3: #ffc227;
$themeYellow4: rgb(255 214 107 / 54%);
$themeYellow5: #e99d00;
$themeYellow6: rgb(255 214 107 / 10%);
$themeYellow7: rgb(255 214 107 / 35%);
$themeYellow8: #fac000;
$themeYellow9: #f29339;
$themeYellow10: #6d5413;
$themeYellow11: #c3bf92;
$themeYellow12: #ffe600;
$themeYellow13: #ff9900;
$themeYellow14: #f2ba2a;

// Theme Red
$themeRed1: #ff6a77;
$themeRed2: #fff0f1;
$themeRed3: #92000d;
$themeRed4: rgb(223 111 121 / 10%);
$themeRed5: rgb(223 111 121 / 35%);
$themeRed6: #b54b54;
$themeRed7: #ffdbde;
$themeRed8: #d1a8a8;
$themeRed9: rgba(115, 48, 54, 1);
$themeRed10: #733036;

// Theme Orange
$themeOrange1: rgba(242, 147, 57, 0.1);

// Theme Pink
$themePink: #ef37ff;
$themePink2: rgb(239 55 255 / 10%);
$themePink3: #c745c2;

// Theme Gradients
$themeGradient1_1: #5bc4ff;
$themeGradient1_2: #ff5bef;
$themeDarkGradient: linear-gradient(90deg, rgba(0, 148, 255, 0.1) 0.73%, rgba(0, 148, 255, 0) 100%);

// Theme Navfill
$themeNavDark: #272729;
$themeNavLight: #27272938;
$themeColorList: $themePrimaryBlue11 -1.45%, $themeGreen2 101.45%;
$themeBackground: rgba($themeDefaultPrimary1, 0.15);

// Purple
$themePurple1: #9b98ff;
$themePurple2: #605BFF;

// Campaign
$clickedEventDay: repeating-linear-gradient(
    -45deg,
    $themeLightPrimary1 0,
    $themeLightPrimary1 15px,
    $themeDefaultSecondary5 15px,
    $themeDefaultSecondary5 30px
);
