@use "./color" as *;

$themes: (
  default: (
    text-color: $themeDefaultPrimary2, // ffffff
    text-para-color: $themeDefaultPrimary3, // bdbdbd
    button-bg: $themeLightPrimary1,
    btn-hover: $themePrimaryBlue6,
    btn-hover-text: $themeDefaultPrimary2,
    btn-disabled: $themeBlack6,
    disabled-text: $themeSecondaryDarkBlue3,
    link-text-color: $themeDefaultPrimary4,
    interactive-bg: $themeBlack7,
    // listing
    listing-cell-bg: $themeDefaultSecondary1,
    menu-bg: $themeDefaultSecondary1,
    footer-bg: $themeDefaultSecondary1,
    checkbox-bg: $themeTransparent,
    checked-checkbox-bg: $themeLightPrimary1,
    checkbox-border: $themeSecondaryDarkBlue5,
    checkbox-checked-border: $themeLightPrimary1,
    transparent-color: $themeTransparent,
    listing-popup-bg: $themeDefaultSecondary3,
    loader-bg: $themeBlack1,
    loader-component-bg: $themeDefaultSecondary1,
    pagination-arrow-hover: $themeDefaultSecondary1,
    pagination-active-text: $themeBlack1,
    items-per-page-color: $themeDefaultPrimary3,
    // Sidebar
    sidebar-border-color: $themeDefaultSecondary2,
    menu-toggle-bg: $themeSecondaryGrey13,
    menu-toggle-border: $themeSecondaryGrey14,
    link-text-hover-color: $themeDefaultPrimary2,
    dark-light-border: $themeDefaultPrimary1, // 0094ff
    input-edit-background: $themeDefaultSecondary1,
    table-headings: $themeDefaultPrimary4,
    table-row-hover-bg: $themeDefaultSecondary2,
    // Icons
    icons: $themeDefaultPrimary6,
    svgfill: $themeDefaultPrimary2,
    // Extra
    active-area: $themeDefaultSecondary2,
    // Tooltip
    tooltip-bg: $themeDefaultSecondary2,
    tooltip-text: $themeDefaultPrimary2,
    // Input
    input-bg: $themeDefaultSecondary2,
    input-border: $themeDefaultSecondary2,
    active-menu-color: $themeDefaultPrimary2,
    award-background: $themeDefaultSecondary3,
    award-inner-individual-background: $themeSecondaryGrey5,
    award-inner-individual-color: $themeDefaultPrimary2,
    award-inner-individual-icons: $themeDefaultPrimary3,
    award-inner-individual-icon-background: $themeBlack1,
    award-inner-individual-icon-info: $themeDefaultPrimary2,
    award-inner-individual-icons-stroke: $themeTransparent,
    award-inner-individual-highlighted-background: $themeGreen,
    settings-background: $themeDefaultSecondary3,
    scrollbar: $themeDefaultSecondary5,
    general-border: $themeDefaultSecondary2,
    navBg: $themeNavDark,
    settingsBlockHeadeing: $themeDefaultPrimary2,
    settingsBlockPara: $themeDefaultPrimary3,
    iconbg: $themeLightSecondary3,
    deleteRed: $themeRed1,
    message-background: $themeDefaultSecondary1,
    disclaimer-message-background: $themeDefaultSecondary11,
    message-input-background: $themeDefaultSecondary3,
    checkbox-label: $themeDefaultPrimary4,
    checkbox-active-background: $themePrimaryBlue10,
    tooltip-background-message: $themeDefaultSecondary2,
    drag-top-color: $themeDefaultPrimary1,
    drag-top-background: $themeSecondaryDarkBlue6,
    message-add-btn: $themeDefaultSecondary2,
    message-add-btn-hover-back: $themeDefaultPrimary1,
    svg-icon-hover-color: $themeDefaultPrimary1,
    settings-header-background: $themeDefaultSecondary8,
    settings-active-content-background: $themeSecondaryGrey17,
    text-secondary-color: $themeDefaultSecondary10,
    red-delete: $themeRed6,
    red-delete-active: $themeRed7,
    input-hover-button-background: $themePrimaryBlue13,
    themed-highlighted-background: $themeLightPrimary3,
    themed-highlighted-content-color: $themeDefaultSecondary8,
    messages-add-btn: $themeDefaultPrimary1,
    messages-add-btn-disabled: $themeDefaultSecondary2,
    message-context-menu-btn-active: $themePrimaryBlue13,
    message-menu-active-color: $themePrimaryBlue15,
    message-inactive-header-buttons: $themeDefaultSecondary8,
    message-editor-background: $themeDefaultSecondary11,
    note-warning: $themeYellow14,
    secondary-cell-text-color: $themeSecondaryDarkBlue5,
    secondary-link-color: $themeSecondaryRoyalBlue2
  ),
  light: (
    text-color: $themeBlack1,
    text-para-color: $themeLightSecondary1,
    button-bg: $themeLightPrimary1,
    btn-hover: $themeLightPrimary1,
    btn-hover-text: $themeDefaultSecondary1,
    btn-disabled: $themeSecondaryGrey4,
    disabled-text: $themeSecondaryDarkBlue3,
    link-text-color: $themeDefaultPrimary4,
    interactive-bg: $themeDefaultSecondary7,
    // listing
    listing-cell-bg: $themeDefaultPrimary2,
    menu-bg: $themeDefaultPrimary2,
    footer-bg: $themeDefaultPrimary2,
    checkbox-bg: $themeDefaultPrimary2,
    checked-checkbox-bg: $themeLightPrimary1,
    checkbox-checked-border: $themeLightPrimary1,
    transparent-color: $themeTransparent,
    listing-popup-bg: $themeDefaultPrimary2,
    checkbox-border: $themeSecondaryDarkBlue5,
    loader-bg: $themeDefaultSecondary6,
    loader-component-bg: $themeDefaultPrimary2,
    pagination-arrow-hover: $themeDefaultSecondary1,
    pagination-active-text: $themeBlack1,
    items-per-page-color: $themeDefaultPrimary3,
    // Sidebar
    sidebar-border-color: $themeSecondaryGrey16,
    menu-toggle-bg: $themeDefaultPrimary2,
    menu-toggle-border: $themeSecondaryGrey7,
    link-text-hover-color: $themeDefaultPrimary1,
    dark-light-border: $themeDefaultPrimary1,
    input-edit-background: $themeDefaultSecondary4,
    table-headings: $themeDefaultSecondary2,
    table-row-hover-bg: $themeDefaultSecondary2,
    // Icons
    icons: $themePrimaryBlue12,
    svgfill: $themeDefaultSecondary1,
    // Extra
    active-area: $themeSecondaryGrey16,
    // Tooltip
    tooltip-bg: $themeDefaultPrimary2,
    tooltip-text: $themeBlack1,
    // Input
    input-bg: $themeDefaultPrimary2,
    input-border: $themeDefaultSecondary7,
    // Listing selection
    listing-checked-border: $themeDefaultPrimary1,
    listing-checked-bg: rgba($themeDefaultPrimary1, 0.15),
    active-menu-color: $themeLightSecondary4,
    award-background: $themeDefaultSecondary6,
    award-inner-individual-background: $themeSecondaryGrey6,
    award-inner-individual-color: $themeLightSecondary3,
    award-inner-individual-icons: $themeYellow3,
    award-inner-individual-icon-background: $themeYellow4,
    award-inner-individual-icon-info: $themeBlack1,
    award-inner-individual-icons-stroke: $themeYellow5,
    award-inner-individual-highlighted-background: $themeGreen,
    settings-background: $themeDefaultPrimary2,
    scrollbar: $themeDefaultPrimary3,
    general-border: $themeDefaultSecondary2,
    navBg: $themeNavLight,
    settingsBlockHeadeing: $themeDefaultSecondary1,
    settingsBlockPara: $themeSecondaryGrey14,
    iconbg: $themeLightSecondary3,
    deleteRed: $themeRed1,
    message-background: $themeDefaultSecondary1,
    disclaimer-message-background: $themeDefaultSecondary11,
    message-input-background: $themeDefaultSecondary3,
    checkbox-label: $themeDefaultPrimary4,
    checkbox-active-background: $themePrimaryBlue10,
    tooltip-background-message: $themeDefaultSecondary2,
    drag-top-color: $themeDefaultPrimary1,
    drag-top-background: $themeSecondaryDarkBlue6,
    message-add-btn: $themeDefaultSecondary2,
    message-add-btn-hover-back: $themeDefaultPrimary1,
    svg-icon-hover-color: $themeDefaultPrimary1,
    settings-header-background: $themeDefaultSecondary8,
    settings-active-content-background: $themeSecondaryGrey17,
    text-secondary-color: $themeDefaultSecondary10,
    red-delete: $themeRed6,
    red-delete-active: $themeRed7,
    input-hover-button-background: $themePrimaryBlue13,
    themed-highlighted-background: $themeLightPrimary3,
    themed-highlighted-content-color: $themeDefaultSecondary8,
    messages-add-btn: $themeDefaultPrimary1,
    messages-add-btn-disabled: $themeDefaultSecondary2,
    message-context-menu-btn-active: $themePrimaryBlue13,
    message-menu-active-color: $themePrimaryBlue15,
    message-inactive-header-buttons: $themeDefaultSecondary8,
    message-editor-background: $themeDefaultSecondary11,
    note-warning: $themeYellow14,
    secondary-cell-text-color: $themeSecondaryDarkBlue5,
    secondary-link-color: $themeSecondaryRoyalBlue2
  ),
);
