// New Css color code implemented

// Theme Transparent
$themeTransparent: transparent;

// Primary

// Theme Default Primary
$themeDefaultPrimary1: #0094FF;
$themeDefaultPrimary2: #FFFFFF;
$themeDefaultPrimary3: #BDBDBD;
$themeDefaultPrimary4: #767485;
$themeDefaultPrimary5: #111;
$themeDefaultPrimary6: rgba(255,255,255,0.7);
$themeLightPrimary1: #605BFF;

// Theme Light Primary
$themeLightPrimary2: #212121;
$themeLightPrimary3: #11E6B4;
$themePrimaryBlue2: #F0EFFF;

// Theme Primary Blue
$themePrimaryBlue3: #F7F7FF;
$themePrimaryBlue4: #FCFDFF;
$themePrimaryBlue6: #2922FF;
$themePrimaryBlue7: #e5f5ff;
$themePrimaryBlue8: rgb(137 163 255 / 10%);
$themePrimaryBlue9: rgb(137 163 255 / 35%);
$themePrimaryBlue10: rgba(0, 148, 255, 0.1);
$themePrimaryBlue11: #827EFF;
$themePrimaryBlue12: rgba(3, 2, 41, 0.7);
$themePrimaryBlue13: #004373;

// Secondary

// Theme Light Secondary
$themeLightSecondary1: #030229;
$themeLightSecondary2: #1F3E79;
$themeLightSecondary3: #6B7499;
$themeLightSecondary4: #929292;

// Theme Default Secondary
$themeDefaultSecondary1: #1C1C1E;
$themeDefaultSecondary2: #313037;
$themeDefaultSecondary3: #131314;
$themeDefaultSecondary4: #ededed;
$themeDefaultSecondary5: #333335;
$themeDefaultSecondary6: #FAFAFB;
$themeDefaultSecondary7: #EDF0F9;
$themeDefaultSecondary8: #242424;
$themeDefaultSecondary10: #A8A8A8;
$themeDefaultSecondary11: #222226;
$themeDefaultSecondary12: #555555;

// Theme Secondary Blue
$themeSecondaryDarkBlue2: #4D4C6A;
$themeSecondaryDarkBlue3: #9A9AA9;
$themeSecondaryDarkBlue4: #A2A2B4;
$themeSecondaryDarkBlue5: #B3B3BF;
$themeSecondaryDarkBlue6:rgba(0, 148, 255, 0.2);
$themeSecondaryRoyalBlue2: #8998B8;

// Theme Secondary Grey
$themeSecondaryGrey1: #808080;
$themeSecondaryGrey2: #BAC4D8;
$themeSecondaryGrey3: #F1F2F5;
$themeSecondaryGrey4: #F4F4F4;
$themeSecondaryGrey5: #303033;
$themeSecondaryGrey6: rgba(96, 91, 255, 0.05);
$themeSecondaryGrey7: #d3d3d3;
$themeSecondaryGrey8: #949393;
$themeSecondaryGrey9: #676e8f; 
$themeSecondaryGrey10: #3B3B48;
$themeSecondaryGrey11: rgba(77, 77, 77, 20%);
$themeSecondaryGrey12: #BBBBBB;
$themeSecondaryGrey13: #2F2F33;
$themeSecondaryGrey14: #47474D;
$themeSecondaryGrey15:#56555b;
$themeSecondaryGrey16: #dbdbdb;
$themeSecondaryGrey17: #151516;

// Shades

// Theme Black
$themeBlack1: #000000;
$themeBlack6: #2C2C2E;
$themeBlack7: #26262A;
$themeBlack8: rgb(49 48 55 / 50%);
$themeBlack9: #999;

// Theme Green
$themeGreen: #00CA14;
$themeGreen1: #3A974C; 
$themeGreen2: #52D9BB;
$themeGreen3: #EBF5ED;
$themeGreen4: #005911;
$themeGreen5: #006D15;
$themeGreen6: rgba(27, 77, 32, 1);
$themeGreen7: #49CE56;
$themeGreen8: #a4cea8;
$themeGreen9: rgba(17, 230, 180, 0.2);
$themeGreen10: #83C68A;

// Theme Yellow
$themeYellow1: #FEC600;
$themeYellow2: #FEF4EB;
$themeYellow3: #FFC227;
$themeYellow4: rgb(255 214 107 / 54%);
$themeYellow5: #e99d00;
$themeYellow6: rgb(255 214 107 / 10%);
$themeYellow7: rgb(255 214 107 / 35%);
$themeYellow8: #FAC000;
$themeYellow9: #F29339;
$themeYellow10: #6D5413;
$themeYellow11: #C3BF92;
$themeYellow12: #FFE600;

// Theme Red
$themeRed1: #FF6A77;
$themeRed2: #FFF0F1;
$themeRed3: #92000D;
$themeRed4:rgb(223 111 121 / 10%);
$themeRed5:rgb(223 111 121 / 35%);
$themeRed6: #B54B54;
$themeRed7: #FFDBDE;
$themeRed8: #D1A8A8;
$themeRed9: rgba(115, 48, 54,1);

// Theme Orange
$themeOrange1: rgba(242, 147, 57, 0.1);

// Theme Pink
$themePink: #EF37FF;
$themePink2: rgb(239 55 255 / 10%);

// Theme Gradients
$themeGradient1_1: #5BC4FF;
$themeGradient1_2: #FF5BEF;
$themeDarkGradient: linear-gradient(90deg, rgba(0, 148, 255, 0.1) 0.73%, rgba(0, 148, 255, 0) 100%);

// Theme Navfill
$themeNavDark:#272729;
$themeNavLight:#27272938;
$themeColorList: $themePrimaryBlue11 -1.45%, $themeGreen2 101.45%; 
$themeBackground: rgba($themeDefaultPrimary1, 0.15);