@use './color' as *;

$themes: (
  default: (
    text-color: $themeDefaultPrimary2,
    text-para-color: $themeDefaultPrimary3,
    button-bg: $themeLightPrimary1,
    btn-hover: $themePrimaryBlue6,
    btn-hover-text: $themeDefaultPrimary2,
    btn-disabled: $themeBlack6,
    disabled-text: $themeSecondaryDarkBlue3,
    link-text-color: $themeDefaultPrimary4,
    interactive-bg: $themeBlack7,
    // listing
    listing-cell-bg: $themeDefaultSecondary1,
    menu-bg: $themeDefaultSecondary1,
    footer-bg: $themeDefaultSecondary1,
    checkbox-bg: $checkboxBackground,
    checked-checkbox-bg: $checkboxCheckedBackground,
    checkbox-border: $checkboxBorderColor,
    checkbox-checked-border: $checkboxCheckedBackground,
    transparent-color: $transparentColor,
    listing-popup-bg: $listingPopupBg,
    loader-bg: $loaderBackground,
    loader-component-bg: $themeDefaultSecondary1,
    pagination-arrow-hover: $themeDefaultSecondary1,
    items-per-page-color: $transparentBgSelect,
    // Sidebar
    sidebar-border-color: $sidebarBorder,
    menu-toggle-bg: $menuToggleBg,
    menu-toggle-border: $menuToggleBorder,
    link-text-hover-color: $themeDefaultPrimary2,
    dark-light-border: $themeDefaultPrimary1,
    // Icons
    icons: $icon, 
    // Extra
    active-area: $activeArea,
    // Tooltip
    tooltip-bg: $tooltipBg,
    tooltip-text: $tooltipText,
    // Input
    input-bg: $activeArea,
    input-border: $themeDefaultSecondary2,
    active-menu-color: $themeDefaultPrimary2,
    award-background: $themeDefaultSecondary3,
    award-inner-individual-background: $themeSecondaryGrey5,
    award-inner-individual-color: $themePrimaryBlue5,
    award-inner-individual-icons: $themeDefaultPrimary3,
    award-inner-individual-icon-background: $themeBlack1,
    award-inner-individual-icon-info: $themePrimaryBlue5,
    award-inner-individual-icons-stroke: $transparentColor,
    award-inner-individual-highlighted-background: $themeGreen,
    settings-background: $listingPopupBg,
    scrollbar: $scrollbar-dark,
  ),
  light: (
    text-color: $themeBlack1,
    text-para-color: $themeSecondaryDarkBlue1,
    button-bg: $themeLightPrimary1,
    btn-hover: $themeLightPrimary1,
    btn-hover-text: $themeBlack2,
    btn-disabled: $themeSecondaryGrey4,
    disabled-text: $themeSecondaryDarkBlue3,
    link-text-color: $themeDefaultPrimary4,
    interactive-bg: $interactiveBgLight,
    // listing
    listing-cell-bg: $themeDefaultPrimary2,
    menu-bg: $themeDefaultPrimary2,
    footer-bg: $themeDefaultPrimary2,
    checkbox-bg: $themeDefaultPrimary2,
    checked-checkbox-bg: $themeLightPrimary1,
    checkbox-checked-border: $themeLightPrimary1,
    transparent-color: $transparentColor,
    listing-popup-bg: $themeDefaultPrimary2,
    checkbox-border: $themeSecondaryDarkBlue5,
    loader-bg: $loaderBackgroundLight,
    loader-component-bg: $listingBgDark,
    pagination-arrow-hover: $themeDefaultSecondary1,
    items-per-page-color: $themeDefaultPrimary3,
    // Sidebar
    sidebar-border-color: $sidebarBorderLight,
    menu-toggle-bg: $themeDefaultPrimary2,
    menu-toggle-border: $themeSecondaryGrey7,
    link-text-hover-color: $themeDefaultPrimary1,
    dark-light-border : $themeDefaultPrimary1,
    // Icons
    icons: $iconLight, 
    // Extra
    active-area: $activeAreaLight,
    // Tooltip
    tooltip-bg: $themeDefaultPrimary2,
    tooltip-text: $themeBlack1,
    // Input
    input-bg: $themeDefaultPrimary2,
    input-border: $interactiveBgLight,
    // Listing selection
    listing-checked-border: $themeDefaultPrimary1,
    listing-checked-bg: rgba($themeDefaultPrimary1, 0.15),
    active-menu-color: $themeLightSecondary4,
    award-background: $loaderBackgroundLight,
    award-inner-individual-background: $themeSecondaryGrey6,
    award-inner-individual-color: $themeSecondaryGrey1,
    award-inner-individual-icons: $themeYellow3,
    award-inner-individual-icon-background: $themeYellow4,
    award-inner-individual-icon-info: $themeBlack1,
    award-inner-individual-icons-stroke: $themeYellow5,
    award-inner-individual-highlighted-background: $themeGreen,
    settings-background: $themeDefaultPrimary2,
    scrollbar: $scrollbar-light,
  ),
);