// Font Family
$fontFamily: 'Nunito', sans-serif;

// Font Size
$headingFontSize: 20px;
$fontSize: 16px;
$smallFontSize: 14px;
$footerFontSize: 12px;

// Font Weight
$fontWeight: 600;
$smallFontWeight: 400;
$headingFontWeight: 700;