// Font Family
$fontFamily: 'Nunito', sans-serif;

// Font Size
$headingBigFontSize: 24px;
$headingFontSize: 20px;
$fontSize: 16px;
$smallFontSize: 14px;
$footerFontSize: 12px;
$smallestFontSize: 10px;

// Font Weight
$fontWeight: 600;
$mediumFontWeight: 500;
$smallFontWeight: 400;
$headingFontWeight: 700;