$lineHeight: 19px;
$lineHeightSecondary: 16px;

$pointer-cursor: pointer;

$left: left;
$right: right;

$full-width: 100%;
$authBox-width: 550px;

$block: block;
$flex: flex;
$inline: inline;
$inline-block: inline-block;
$none: none;

