@use "../../abstract/color" as *;
@use "../../abstract/font" as *;
@use  "../../abstract/mixins" as *;
@use  "../../abstract/variables" as *;

.element-wraper {
  @include positioned(relative);
  @include display(inline-block);
  width: $full-width;
  @include margins (10px , 0, 10px, 0);
    label {
      font-size: $smallFontSize;
      color: $textColor;
      @include margins (0 , 0, 10px, 0);
      span {
        color: $linkColor;
        margin-left: 5px;
        ;
      }
    }
    .forget-wraper {
      float: right;
      a {
        font-size: $footerFontSize;
        color: $linkColor;
        text-decoration: none;
        &:hover {
          color: $linkColorHover;
        }
      }
    }  
  .form-field {
    // @include margins (10px , 0, 0px, 0);
    @include positioned(relative);
    .form-control {
      @include inputBox();
    }
    .show-hide {
      @include positioned(absolute);
      align-items: center;
      z-index: 9;
      right: 0;
      top: 0px;
      display: flex;
      cursor: pointer;
      height: 42px;
      padding-right: 14px;
    }
    .error {
      @include bordered($errorColor, 1px, solid);
      &:hover {
        @include bordered($errorColor, 1px, solid);
      }
    }
  }
}

