//alert box style start
@use "../../abstract/color"as *;
@use "../../abstract/font"as *;

.warn-badget {
    background-color: $themeYellow1 !important;
    font-size: 10px !important;
    padding: 2px 5px;
    border-radius: 5px;
    color: black !important;
    margin-left: 16px;
    margin-right: 16px;
    font-family: $fontFamily;
    font-weight: 500;
    line-height: 15px;
    vertical-align: middle;
    align-self: center;
}