@use "../../abstract/color" as *;
@use "../../abstract/font" as *;
@use "../../abstract/mixins" as *;

.body-content-wraper {
  @include positioned(relative);
  @include paddings (30px , 30px, 0, 30px);
  display: flex;
  width: 100%;
  flex: 1 1 auto;
  overflow: hidden;

  .rightside-content {
    @include positioned(relative);
    flex-grow: 1;
    flex-shrink: 1;
    // flex-basis: calc(100% - 85px);
    // max-width: calc(100% - 85px);
    align-items: center;
    flex-direction: column;
    .auth-heading-info {
      margin-bottom: 150px;
    }
    .skip-wraper {
      @include positioned(absolute);
      top: 20px;
      right: 50px;
      a {
        text-decoration: underline;
        font-size: 14px;
        color: $themeBlack5;
        font-weight: 400;
        line-height: 19px;
      }
    }
    .selectbox-wraper {
      width: 100%;
      display: block;
      margin-bottom: 20px;
      p {
        color: $themeDefaultPrimary2;
        font-size: 14px;
        font-weight: 400;
        line-height: 19px;
        margin-bottom: 10px;
      }
    }

    &.main-content {
      margin-left: 50px;
    }
  }
}

.paper{
  @include positioned(relative);
  // background: $themeBlack2;
  @include theme-aware('background-color', 'settings-background');
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.08);
  @include border-radius(10px, 10px, 10px, 10px);
  padding: 19px 20px 20px 20px!important;
}

