@use "../../abstract/color" as *;
@use "../../abstract/font" as *;
@use "../../abstract/mixins" as *;

.body-content-wraper {
  @include positioned(relative);
  // @include paddings (30px , 30px, 0, 30px);
  display: flex;
  width: 100%;
  flex: 1 1 auto;
  overflow: hidden;

  .rightside-content {
    @include positioned(relative);
    flex-grow: 1;
    flex-shrink: 1;
    overflow:hidden;
    // flex-basis: calc(100% - 85px);
    // max-width: calc(100% - 85px);
    align-items: center;
    flex-direction: column;
    @include theme-aware('background-color', 'main-content-background');

    .auth-heading-info {
      margin-bottom: 150px;
    }
    .skip-wraper {
      @include positioned(absolute);
      top: 20px;
      right: 50px;
      cursor: pointer;
      // a {
        text-decoration: underline;
        font-size: 14px;
        color: $themeDefaultPrimary4;
        font-weight: 400;
        line-height: 19px;
        -moz-user-select: none;
   -khtml-user-select: none;
   -webkit-user-select: none;

   /*
     Introduced in Internet Explorer 10.
     See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
   */
   -ms-user-select: none;
   user-select: none;
      // }
      &:hover {
        color: $themeSecondaryGrey15;
      }
    }
    .selectbox-wraper {
      width: 100%;
      display: block;
      margin-bottom: 20px;
      p {
        color: $themeDefaultPrimary2;
        font-size: 14px;
        font-weight: 400;
        line-height: 19px;
        margin-bottom: 10px;
      }
    }

    &.main-content {
      // margin-left: 50px;
    }
  }
}

.paper{
  @include positioned(relative);
  // background: $themeDefaultSecondary1;
  @include theme-aware('background-color', 'settings-background');
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.08);
  @include border-radius(10px, 10px, 10px, 10px);
  // padding: 19px 20px 20px 20px!important;
  padding: 19px 20px 20px 20px;
}
.paper-non-padded{
  @include positioned(relative);
  // background: $themeDefaultSecondary1;
  @include theme-aware('background-color', 'settings-background');
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.08);
  @include border-radius(10px, 10px, 10px, 10px);
}

