@use "../../abstract/color" as *;
@use "../../abstract/font" as *;
@use "../../abstract/mixins" as *;
@use "../../abstract/variables" as *;

//////////////////////////////////////////////////////////////////////////////////
/*:::::THis is the file where all the Style are done for Common components:::::*/
////////////////////////////////////////////////////////////////////////////////

.selector_box {
  -webkit-appearance: none;
  position: relative;
  -moz-appearance: none;
  background: transparent;
  width: 103px;
  height: 40px;
  cursor: pointer;
  padding: 10px 15px 8px 15px;
  width: 120px;
  height: 30px;
  border: 1px solid #999;
  font-size: 18px;
  @include theme-aware("background-color", "listing-cell-bg");
  border: 1px solid #767485;
  border-radius: 5px;
  @include theme-aware("color", "link-text-color");
  font: {
    weight: 400;
    size: 14px;
  }
}

.theme-default {
  .select-wrapers {
    position: relative;
    .select-arrow {
      display: block;
      position: absolute;
      background-image: url("../../../images/arrow-sprite.png");
      background-repeat: no-repeat;
      background-position: 73% 48%;
      width: 9px;
      height: 7px;
      cursor: pointer;
      overflow: hidden;
      top: 7px;
      right: 5px;
    }
  }
}

.theme-light {
  .select-wrapers {
    position: relative;
    .select-arrow {
      display: block;
      position: absolute;
      // background: transparent;
      background-image: url("../../../images/arrow-sprite.png");
      background-repeat: no-repeat;
      background-position: 28% 48%;
      width: 9px;
      height: 7px;
      cursor: pointer;
      overflow: hidden;
      top: 7px;
      right: 5px;
    }
  }
}

.selectbox-wraper {
  .selector_box {
    -webkit-appearance: none;
    position: relative;
    -moz-appearance: none;
    background: transparent;
    // background-image: url("../../../images/arrow-whites.png");
    // background-repeat: no-repeat;
    //  background-position-x: 97%;
    //background-position: 111% 0px;
    //background-position-y: 15px;
    width: 103px;
    height: 40px;
    cursor: pointer;
    padding: 10px 15px 8px 15px;
    width: 120px;
    height: 30px;
    border: 1px solid $themeBlack9;
    font-size: 18px;
    @include theme-aware("background-color", "listing-cell-bg");
    border: 1px solid $themeDefaultPrimary4;
    border-radius: 5px;
    @include theme-aware("color", "text-color");
    font: {
      weight: 400;
      size: 14px;
    }
  }
}
// dropdown selector end
.onboarding-heading {
  font-size: 24px !important;
  font-weight: 700 !important;
  line-height: 32px;
  margin-bottom: 8px !important;
}
.onboarding-para {
  font-size: 14px !important;
  font-weight: 400 !important;
  margin-bottom: 60px !important;
}
.buttons-submit {
  .btn-primary {
    margin-bottom: 0;
  }
}
//common modal
.modal-background {
  //backdrop-filter: blur(3px);
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 99999; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  background: rgb(19 19 20 / 90%);
  // filter: blur(2px);
  // display: flex;
  // justify-content:center;
  // align-items: center;
  contain: layout;
  content-visibility: auto;

  &.modal-keywords {
    .modal-header {
      padding-top: 12px !important;
    }
    .modal-content {
      margin-top: 45px !important;
    }
  }
}
.modal {
  // min-height: 256px;
  width: 466px;
  margin: auto;
  padding: 30px;
  background: $themeDefaultSecondary1;
  box-shadow: 0px -5px 40px 10px $themeBlack1;
  border-radius: 10px 10px 10px 10px;
  opacity: 1;
  // position:relative;
  // // filter: blur(0);
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  &:before {
    @include gradient(90deg, $themeColorList);
    //background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background: linear-gradient(-90deg, #045cff, #23d5ab, #045cff, #23d5ab);
    width: $full-width;
    height: 10px;
    @include positioned(absolute);
    top: 0;
    left: 0;
    content: "";
    @include border-radius(10px, 10px, 0px, 0px);
    animation: gradient 5s ease infinite;
    background-size: 400% 100%;
  }

  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    25% {
      background-position: 50% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    75% {
      background-position: 50% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  .modal-content-wraper {
    position: relative;
    .close-modal {
      position: absolute;
      right: 0;
      top: 5px;
      cursor: pointer;
      height: 40px;
      width: 40px;
      border-radius: 50%;
      // background: rgba(255, 106, 118, 0.1);
      display: flex;
      justify-content: center;
      align-items: center;
      &:hover {
        background: rgba(255, 106, 118, 0.3);
      }
    }
    .modal-header {
      padding-top: 25px;
      font-weight: 600;
      font-size: 20px;
      line-height: 27px;
      display: inline-flex;
      gap: 10px;

      &.delete-type {
        display: flex;
        align-items: center;
        color: $themeRed1;
        .modal-icon {
          margin-right: 4px;
        }
      }
      &.normal-type {
        display: flex;
        align-items: center;
        @include theme-aware("color", "text-color");
        .modal-icon {
          margin-right: 4px;
        }
      }

      span.icon-modal-comm {
        margin-top: -0.4rem;
      }
    }
    .modal-content {
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      margin-top: 15px;
      /* or 143% */

      /* Dark/Primary/grey-td100 */

      color: $themeDefaultPrimary3;
      b {
        color: $themeDefaultPrimary2;
      }
    }
    .modal-buttons {
      margin-top: 30px;
    }
  }
}

//commonmodal end

//Message page left empty-nav-icon start

.empty-nav-icon {
  position: relative;
  svg:nth-child(1) {
    position: absolute;
    top: 10px;
    left: 50%;
  }
  .loto-loti {
    position: absolute;
    top: 315px;
    left: 50%;
    transform: translate(-100%, -50%);
  }
  .empty-nav-text {
    position: absolute;
    padding: 0px 67px;
    color: $themeDefaultPrimary4;
    height: 32px;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.01em;
    top: 360px;
    opacity: 0.8;
  }
}
//Message page left empty-nav-icon end
.draggable-list {
  height: calc(100% - 79px);
  overflow-y: auto;
  padding: 0 4px;
  .draggable-list__item {
    width: 100%;
    cursor: pointer;
    padding: 0;
    //border: none;
    .subdmf_card_default {
    }
    .subdmf_card {
      width: 100%;
      border-radius: 5px;
      padding: 21px 14px;
      .subdmf_card_icons {
        width: auto;
        .dragable-item-dots {
          margin-right: 17px;
        }
        .dragable-file {
          margin-right: 11px;
          background: $themePink2;

          // svg {

          //   path {

          //     fill: $themePink;
          //     stroke: $themePink;
          //   }
          // }
        }
      }
      .dragable-item-infos {
        h4 {
          @include theme-aware("color", "settingsBlockPara");
          font-weight: 400;
          font-size: 16px;
          line-height: 22px;
          margin-bottom: 1px;
          white-space: nowrap;
          text-overflow: ellipsis;
          max-width: 165px;
          overflow: hidden;
        }
        p {
          @include theme-aware("color", "settingsBlockPara");
          font-weight: 400;
          font-size: 12px;
          line-height: 16px;
        }
      }
      &.active {
        @include theme-aware("background", "navBg");
      }
      &.default {
        .subdmf_card_icons {
          .dragable-item-dots {
            visibility: hidden;
          }
          .dragable-file {
            margin-right: 11px;
            opacity: 0.4;
            @include theme-aware("background", "iconbg");

            // svg {
            //   path {
            //     fill: $themeDefaultPrimary2;
            //      stroke:$themeDefaultPrimary2 ;
            //   //   @include theme-aware("fill", "navBg");
            //   //   @include theme-aware("stroke", "navBg");

            //   }
            // }
          }
        }
      }
    }
    .subdmf_card_active {
      padding: 25px 15px;
      width: 100%;
      border-bottom: 1px solid rgba(255, 255, 255, 0.1);
      border-radius: 5px;
      .subdmf_card_icons {
        width: auto;
        .dragable-item-dots {
          margin-right: 17px;
        }
        .dragable-file {
          margin-right: 11px;
          background: $themePink2;
          svg {
            path {
              fill: $themePink;
              stroke: $themePink;
            }
          }
        }
      }
      .dragable-item-infos {
        h4 {
          @include theme-aware("color", "text-color");
          font-weight: 400;
          font-size: 16px;
          line-height: 22px;
          margin-bottom: 1px;
        }
        p {
          @include theme-aware("color", "text-color");
          font-weight: 400;
          font-size: 12px;
          line-height: 16px;
        }
      }
    }
    &:hover {
      .subdmf_card {
        @include theme-aware("background", "navBg");
        .subdmf_card_icons {
          .dragable-file {
            margin-right: 11px;
            background: $themePink2;
          }
        }
        .dragable-item-infos {
          h4 {
            @include theme-aware("color", "text-color");
          }
          p {
            @include theme-aware("color", "text-color");
          }
        }
      }
    }
    &.dragstart {
      opacity: 0.5 !important;
    }
    &.dragover {
    }
  }
}
//Draggable List Style End

// styling for tiny_selector_box start
.theme-default {
  .tinyWrap {
    .selector_box {
      border-radius: 5px;
      border: 1px solid $themeDefaultSecondary2;
      background: #000000;
      color: #fff;
      padding: 1px 9px;
      font-size: 12px;
      &:hover {
        border-color: $themeDefaultPrimary1;
      }
      &:disabled {
        color: #767485;
        background: #1c1c1e;
        pointer-events: none;
        &:hover {
          border-color: $themeDefaultSecondary2;
        }
      }
    }
    .select-arrow {
      background-position: none;
      background: url(../../../images/arrow1.svg) 0 1px no-repeat;
      width: 10px;
      height: 9px;
      pointer-events: none;
    }
  }
}
.theme-default .tinyWrap .selector_box:disabled ~ .select-arrow {
  opacity: 0.4;
}
// styling for tiny_selector_box end

// styling for keywordBlock starts
.smallTxt {
  font-size: $footerFontSize;
  line-height: 19px;
}
.keywordBlock {
  background: #000000;
  border: 1px solid $themeDefaultSecondary2;
  border-radius: 10px;
  padding: 12px 23px 5px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;

  .saveBlock {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    padding: 5px 0;
    margin-bottom: 8px;
    position: relative;

    .saveBtn {
      font-weight: 400;
      font-size: 14px;
      line-height: auto;
      color: #313037;
      margin: 0 20px;
      background: none;
      border: none;
      cursor: pointer;
    }
    button.activated {
      color: #0094ff;
    }
    .doomedText {
      font-size: 12px;
      line-height: 16px;
      color: #4d4d4d;
      position: absolute;
      right: 20px;
    }
  }
}

// styling for keywordBlock end

// styling for page number select

.theme-default {
  .pageNo {
    .selector_box {
      border-radius: 5px;
      border: 1px solid #1c1c1e;
      background: #1c1c1e;
      color: #fff;
      padding: 1px 9px;
      font-size: 12px;
    }
    .select-arrow {
      background-position: none;
      background: url(../../../images/arrow1.svg) 0 2px no-repeat;
      width: 10px;
      height: 9px;
      pointer-events: none;
    }
  }
}

// styling for page number select end

.friendSource {
  display: flex;
  align-items: center;

  span {
    margin: 0 7px 0 7px;
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .ico-open-link {
    path {
      stroke: #767485;
    }
  }
}

.capText::first-letter {
  text-transform: capitalize;
}

.tooltipFullName {
  position: relative;

  &:before {
    content: attr(data-text);
    position: absolute;
    bottom: 32px;
    left: 50%;
    transform: translateX(-50%);
    line-height: 15px;
    white-space: pre-wrap;
    width: 148px;
    font-size: 12px;
    padding: 10px;
    pointer-events: none;
    background: #313037;
    color: #fff;
    justify-content: center;
    display: flex;
    opacity: 0;
    transition: 0.5s;
    visibility: hidden;
    align-items: center;
    flex-wrap: wrap;
    box-shadow: 0 1px 6px 4px rgb(0 0 0 / 30%);
    z-index: 100;
    border-radius: 2px;
  }
  &:hover:before {
    opacity: 1;
    visibility: visible;
    transition: 0.5s;
  }
  &:after {
    content: "";
    left: 45%;
    background: #313037;
    rotate: 45deg;
    opacity: 0;
    transition: 0.5s;
    visibility: hidden;
    width: 13px;
    height: 13px;
    bottom: 27px;
    position: absolute;
    z-index: 101;
  }
  &:hover:after {
    opacity: 1;
    visibility: visible;
    transition: 0.5s;
  }
  &.small{
    &:before {
       width: 115px;
    }
  }
  &.ageTooltip{
    &:before {
       width: 130px;
       content: 'Synced on \A' attr(data-text);
       text-align: center;
       letter-spacing: -0.3px;
    }
  }
}

.ag-cell-value {
  overflow: visible;
}

.ag-theme-fr-table {
  .ag-row[aria-rowindex="2"],
  .ag-row[aria-rowindex="3"],
  .ag-row.ag-row-first {
    .tooltipFullName {
      &:before {
        bottom: auto;
        top: 25px;
        box-shadow: 0 -4px 5px 1px rgb(0 0 0 / 30%);
      }
      &:after {
        bottom: -10px;
      }
    }
  }
}

//styling for active engagement

.activeEngaged{
  display: flex;
  align-items: center;
  font-size: 14px;
  .dot{
      background-color: $themeDefaultPrimary3;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      border: 3px solid transparent;
      display: inline-block;
      box-sizing: content-box;
      margin-right: 5px;
  }
  &.notAct{
     color: #df6f79;
     .dot{
        background: $themeRed1;
        border: 3px solid $themeRed9;
     }
  }
  &.actUser {
    color: $themeGreen1;
    .dot{
        background: $themeGreen7;
        border-color: $themeGreen6;
    }
  }
}
@keyframes borderBlink1 {
  0% {
    border: 3px solid rgba(27, 77, 32, 0);
  }
  100% {
    border: 3px solid rgba(27, 77, 32, 1);
  }
}
@keyframes borderBlink2 {
  0% {
    border: 3px solid rgba(115, 48, 54,0);
  }
  100% {
    border: 3px solid rgba(115, 48, 54,1);;
  }
}
.ag-theme-fr-table {
  .ag-row{
    &:hover{
      .activeEngaged{
        &.actUser {
          .dot{
            animation: borderBlink1 1s;
          }
        }
        &.notAct{
          .dot{
            animation: borderBlink2 1s;
          }
       }
      }
    }
  }
}
