@use "../../abstract/color" as *;
@use "../../abstract/font" as *;
@use "../../abstract/mixins" as *;
@use "../../abstract/variables" as *;

//////////////////////////////////////////////////////////////////////////////////
/*:::::THis is the file where all the Style are done for Common components:::::*/
////////////////////////////////////////////////////////////////////////////////

.selector_box {
  -webkit-appearance: none;
  position: relative;
  -moz-appearance: none;
  background: transparent;
  width: 103px;
  height: 40px;
  position: relative;
  cursor: pointer;
  padding: 10px 15px 8px 15px;
  width: 120px;
  height: 30px;
  border: 1px solid #999;

  font-size: 18px;
  @include theme-aware("background-color", "listing-cell-bg");
  border: 1px solid #767485;
  border-radius: 5px;
  @include theme-aware("color", "link-text-color");
  display:flex;
  align-items: center;
  font: {
    weight: 400;
    size: 14px;
  }
  .selector_box_options{
      max-height: 250px;
      overflow-y: auto;
    position: absolute;
    @include theme-aware("color", "link-text-color");
    @include theme-aware("background-color", "table-row-hover-bg");
    width: 100%;
    top:40px;
    left:0;
    z-index: 1;
    padding-left: 20px;
    padding: 5px 0 10px 20px;
    border-radius: 0 0 5px 5px;
    border-bottom: 15px solid #ffffff;
    @include theme-aware("border-color", "table-row-hover-bg");
    li{
      margin: 5px 0 5px 0;
      &:hover{
        @include theme-aware("color", "btn-hover-text");
      }
    }

     /* WebKit (Chrome, Safari) */
  &::-webkit-scrollbar {
    width: 6px; 
    margin-right: 2px;
  }

  &::-webkit-scrollbar-thumb {
    background-color:#696565a6;
    border-radius: 5px; 
  }

  /* Firefox */
  scrollbar-color: #696565a6;

    
  }

  &:disabled {
    color: transparentize($themeDefaultPrimary4, 0.2) !important;
  }
}

.theme-default {
  .select-wrapers {
    position: relative;
    .select-arrow {
      display: block;
      position: absolute;
      background-image: url("../../../images/arrow-sprite.png");
      background-repeat: no-repeat;
      background-position: 73% 48%;
      width: 9px;
      height: 7px;
      cursor: pointer;
      overflow: hidden;
      top: 7px;
      right: 5px;
    }
  }
}

.theme-light {
  .select-wrapers {
    position: relative;
    .select-arrow {
      display: block;
      position: absolute;
      // background: transparent;
      background-image: url("../../../images/arrow-sprite.png");
      background-repeat: no-repeat;
      background-position: 28% 48%;
      width: 9px;
      height: 7px;
      cursor: pointer;
      overflow: hidden;
      top: 7px;
      right: 5px;
    }
  }
}

.selectbox-wraper {
  .selector_box {
    -webkit-appearance: none;
    position: relative;
    -moz-appearance: none;
    background: transparent;
    // background-image: url("../../../images/arrow-whites.png");
    // background-repeat: no-repeat;
    //  background-position-x: 97%;
    //background-position: 111% 0px;
    //background-position-y: 15px;
    width: 103px;
    height: 40px;
    cursor: pointer;
    padding: 10px 15px 8px 15px;
    width: 120px;
    height: 30px;
    border: 1px solid $themeBlack9;
    font-size: 18px;
    @include theme-aware("background-color", "listing-cell-bg");
    border: 1px solid $themeDefaultPrimary4;
    border-radius: 5px;
    @include theme-aware("color", "text-color");
    font: {
      weight: 400;
      size: 14px;
    }
  }
}
// dropdown selector end
.onboarding-heading {
  font-size: 24px !important;
  font-weight: 700 !important;
  line-height: 32px;
  margin-bottom: 8px !important;
}
.onboarding-para {
  font-size: 14px !important;
  font-weight: 400 !important;
  margin-bottom: 60px !important;
}
.buttons-submit {
  .btn-primary {
    margin-bottom: 0;
  }
}
//common modal
.modal-background {
  //backdrop-filter: blur(3px);
  display: flex; /* Hidden by default */
  position: fixed; /* Stay in place */
  // z-index: 99999; /* Sit on top */
  z-index: 100;
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  background: rgb(19 19 20 / 90%);
  // filter: blur(2px);
  // display: flex;
  // justify-content:center;
  // align-items: center;
  contain: layout;
  content-visibility: auto;

  &.modal-keywords {
    .modal-header {
      padding-top: 12px !important;
    }
    .modal-content {
      margin-top: 45px !important;
    }
  }
}
.modal {
  // min-height: 256px;
  width: 466px;
  margin: auto;
  padding: 30px;
  background: $themeDefaultSecondary1;
  box-shadow: 0px -5px 40px 10px $themeBlack1;
  border-radius: 10px 10px 10px 10px;
  opacity: 1;
  // position:relative;
  // // filter: blur(0);
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  &:before {
    @include gradient(90deg, $themeColorList);
    //background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background: linear-gradient(-90deg, #045cff, #23d5ab, #045cff, #23d5ab);
    width: $full-width;
    height: 10px;
    @include positioned(absolute);
    top: 0;
    left: 0;
    content: "";
    @include border-radius(10px, 10px, 0px, 0px);
    animation: gradient 5s ease infinite;
    background-size: 400% 100%;
  }

  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    25% {
      background-position: 50% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    75% {
      background-position: 50% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  .modal-content-wraper {
    position: relative;
    .close-modal {
      position: absolute;
      right: 0;
      top: 5px;
      cursor: pointer;
      height: 40px;
      width: 40px;
      border-radius: 50%;
      // background: rgba(255, 106, 118, 0.1);
      display: flex;
      justify-content: center;
      align-items: center;
      &:hover {
        background: rgba(255, 106, 118, 0.3);
      }
    }
    .modal-header {
      padding-top: 25px;
      font-weight: 600;
      font-size: 20px;
      line-height: 27px;
      display: inline-flex;
      gap: 10px;

      &.delete-type {
        display: flex;
        align-items: center;
        color: $themeRed1;
        .modal-icon {
          margin-right: 4px;
        }

        span {
          color: $themeRed1 !important;
        }
      }
      &.normal-type {
        display: flex;
        align-items: center;
        @include theme-aware("color", "text-color");
        .modal-icon {
          margin-right: 4px;
        }
      }

      // span.icon-modal-comm {
      //   margin-top: -0.4rem;
      // }
    }
    .modal-content {
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      margin-top: 15px;
      /* or 143% */

      /* Dark/Primary/grey-td100 */

      color: $themeDefaultPrimary3;

      &:empty {
        margin: 0;
      }
      b {
        color: $themeDefaultPrimary2;
      }
    }
    .modal-buttons {
      margin-top: 30px;

      button {
        margin-block: 0;
      }
    }
  }
}

//commonmodal end

//Message page left empty-nav-icon start

.empty-nav-icon {
  position: relative;
  svg:nth-child(1) {
    position: absolute;
    top: 10px;
    left: 50%;
  }
  .loto-loti {
    position: absolute;
    top: 315px;
    left: 50%;
    transform: translate(-100%, -50%);
  }
  .empty-nav-text {
    position: absolute;
    padding: 0px 67px;
    color: $themeDefaultPrimary4;
    height: 32px;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.01em;
    top: 360px;
    opacity: 0.8;
  }
}
//Message page left empty-nav-icon end
.draggable-list {
  height: calc(100% - 79px);
  overflow-y: auto;
  padding: 0 4px;
  .draggable-list__item {
    width: 100%;
    cursor: pointer;
    padding: 0;
    //border: none;
    .subdmf_card_default {
    }
    .subdmf_card {
      width: 100%;
      border-radius: 5px;
      padding: 21px 14px;
      .subdmf_card_icons {
        width: auto;
        .dragable-item-dots {
          margin-right: 17px;
        }
        .dragable-file {
          margin-right: 11px;
          background: $themePink2;

          // svg {

          //   path {

          //     fill: $themePink;
          //     stroke: $themePink;
          //   }
          // }
        }
      }
      .dragable-item-infos {
        h4 {
          @include theme-aware("color", "settingsBlockPara");
          font-weight: 400;
          font-size: 16px;
          line-height: 22px;
          margin-bottom: 1px;
          white-space: nowrap;
          text-overflow: ellipsis;
          max-width: 165px;
          overflow: hidden;
        }
        p {
          @include theme-aware("color", "settingsBlockPara");
          font-weight: 400;
          font-size: 12px;
          line-height: 16px;
        }
      }
      &.active {
        @include theme-aware("background", "navBg");
      }
      &.default {
        .subdmf_card_icons {
          .dragable-item-dots {
            visibility: hidden;
          }
          .dragable-file {
            margin-right: 11px;
            opacity: 0.4;
            @include theme-aware("background", "iconbg");

            // svg {
            //   path {
            //     fill: $themeDefaultPrimary2;
            //      stroke:$themeDefaultPrimary2 ;
            //   //   @include theme-aware("fill", "navBg");
            //   //   @include theme-aware("stroke", "navBg");

            //   }
            // }
          }
        }
      }
    }
    .subdmf_card_active {
      padding: 25px 15px;
      width: 100%;
      border-bottom: 1px solid rgba(255, 255, 255, 0.1);
      border-radius: 5px;
      .subdmf_card_icons {
        width: auto;
        .dragable-item-dots {
          margin-right: 17px;
        }
        .dragable-file {
          margin-right: 11px;
          background: $themePink2;
          svg {
            path {
              fill: $themePink;
              stroke: $themePink;
            }
          }
        }
      }
      .dragable-item-infos {
        h4 {
          @include theme-aware("color", "text-color");
          font-weight: 400;
          font-size: 16px;
          line-height: 22px;
          margin-bottom: 1px;
        }
        p {
          @include theme-aware("color", "text-color");
          font-weight: 400;
          font-size: 12px;
          line-height: 16px;
        }
      }
    }
    &:hover {
      .subdmf_card {
        @include theme-aware("background", "navBg");
        .subdmf_card_icons {
          .dragable-file {
            margin-right: 11px;
            background: $themePink2;
          }
        }
        .dragable-item-infos {
          h4 {
            @include theme-aware("color", "text-color");
          }
          p {
            @include theme-aware("color", "text-color");
          }
        }
      }
    }
    &.dragstart {
      opacity: 0.5 !important;
    }
    &.dragover {
    }
  }
}
//Draggable List Style End

// styling for tiny_selector_box start
.theme-default {
  .tinyWrap {
    .selector_box {
      border-radius: 5px;
      border: 1px solid $themeDefaultSecondary2;
      background: #000000;
      color: #fff;
      padding: 1px 9px;
      font-size: 12px;
      &:hover {
        border-color: $themeDefaultPrimary1;
      }
      &:disabled {
        color: #767485;
        background: #1c1c1e;
        pointer-events: none;
        &:hover {
          border-color: $themeDefaultSecondary2;
        }
      }
    }
    .select-arrow {
      background-position: none;
      background: url(../../../images/arrow1.svg) 0 1px no-repeat;
      width: 10px;
      height: 9px;
      pointer-events: none;
      right: 4px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}
.theme-default .tinyWrap .selector_box:disabled ~ .select-arrow {
  opacity: 0.4;
}
// styling for tiny_selector_box end

// styling for keywordBlock starts
.smallTxt {
  font-size: $footerFontSize;
  line-height: 19px;
}
.keywordBlock {
  background: #000000;
  border: 1px solid $themeDefaultSecondary2;
  border-radius: 10px;
  padding: 12px 23px 5px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;

  .saveBlock {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    padding: 5px 0;
    margin-bottom: 8px;
    position: relative;

    .saveBtn {
      font-weight: 400;
      font-size: 14px;
      line-height: auto;
      color: #313037;
      margin: 0 20px;
      background: none;
      border: none;
      cursor: pointer;
    }
    button.activated {
      color: #0094ff;
    }
    .doomedText {
      font-size: 12px;
      line-height: 16px;
      color: #4d4d4d;
      position: absolute;
      right: 20px;
    }
  }
}

// styling for keywordBlock end

// styling for page number select

.theme-default {
  .pageNo {
    .selector_box {
      border-radius: 5px;
      border: 1px solid #1c1c1e;
      background: #1c1c1e;
      color: #fff;
      padding: 1px 9px;
      font-size: 12px;
    }
    .select-arrow {
      background-position: none;
      background: url(../../../images/arrow1.svg) 0 2px no-repeat;
      width: 10px;
      height: 9px;
      pointer-events: none;
    }
  }
}

// styling for page number select end

.friendSource {
  display: flex;
  align-items: center;

  span {
    margin: 0 7px 0 7px;
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .ico-open-link {
    path {
      stroke: #767485;
    }
  }
}

.capText::first-letter {
  text-transform: capitalize;
}

.tooltipFullName {
  position: relative;

  &:before {
    content: attr(data-text);
    position: absolute;
    bottom: 32px;
    left: 50%;
    transform: translateX(-50%);
    line-height: 15px;
    white-space: pre-wrap;
    width: 148px;
    font-size: 12px;
    padding: 10px;
    pointer-events: none;
    background: #313037;
    color: #fff;
    justify-content: center;
    display: flex;
    opacity: 0;
    transition: 0.5s;
    visibility: hidden;
    align-items: center;
    flex-wrap: wrap;
    box-shadow: 0 1px 6px 4px rgb(0 0 0 / 30%);
    z-index: 100;
    border-radius: 2px;
  }
  &:hover:before {
    opacity: 1;
    visibility: visible;
    transition: 0.5s;
  }
  &:after {
    content: "";
    left: 45%;
    background: #313037;
    rotate: 45deg;
    opacity: 0;
    transition: 0.5s;
    visibility: hidden;
    width: 13px;
    height: 13px;
    bottom: 27px;
    position: absolute;
    z-index: 101;
  }
  &:hover:after {
    opacity: 1;
    visibility: visible;
    transition: 0.5s;
  }
  &.small {
    &:before {
      width: 115px;
    }
  }
  &.ageTooltip {
    &:before {
      width: 130px;
      content: "Synced on \A"attr(data-text);
      text-align: center;
      letter-spacing: -0.3px;
    }
  }
}

.ag-cell-value {
  overflow: visible !important;
}

.ag-theme-fr-table {
  .ag-row[aria-rowindex="2"],
  .ag-row[aria-rowindex="3"],
  .ag-row.ag-row-first {
    .tooltipFullName {
      &:before {
        bottom: auto;
        top: 25px;
        box-shadow: 0 -4px 5px 1px rgb(0 0 0 / 30%);
      }
      &:after {
        bottom: 17px;
      }
    }
  }
}

//styling for active engagement

.activeEngaged {
  display: flex;
  align-items: center;
  font-size: 14px;
  text-transform: capitalize;
  .dot {
    background-color: $themeDefaultPrimary3;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: 3px solid transparent;
    display: inline-block;
    box-sizing: content-box;
    margin-right: 5px;
  }
  &.notAct {
    color: #df6f79;
    .dot {
      background: $themeRed1;
      border: 3px solid $themeRed9;
    }
  }
  &.actUser {
    color: $themeGreen1;
    .dot {
      background: $themeGreen7;
      border-color: $themeGreen6;
    }
  }
  &.actPending {
    color: $themeYellow14;
    .dot {
      background: $themeYellow14;
      border-color: $themeYellow10;
    }
  }
}
@keyframes borderBlink1 {
  0% {
    border: 3px solid rgba(27, 77, 32, 0);
  }
  100% {
    border: 3px solid rgba(27, 77, 32, 1);
  }
}
@keyframes borderBlink2 {
  0% {
    border: 3px solid rgba(115, 48, 54, 0);
  }
  100% {
    border: 3px solid rgba(115, 48, 54, 1);
  }
}
.ag-theme-fr-table {
  .ag-row {
    &:hover {
      .activeEngaged {
        &.actUser {
          .dot {
            animation: borderBlink1 1s;
          }
        }
        &.notAct {
          .dot {
            animation: borderBlink2 1s;
          }
        }
      }
    }

    &:has(.context-menu) {
      z-index: 61;
    }
  }
}

// AG Grid base styles

.ag-theme-fr-table {
  --ag-background-color: transparent !important;
  font-family: "Nunito", sans-serif !important;
  @include theme-aware("--ag-foreground-color", "text-color");
  @include theme-aware("--ag-border-color", "transparent-color");
  @include theme-aware("--ag-data-color", "text-color");

  .ag-header-row,
  .ag-row {
    @include theme-aware("background-color", "transparent-color");

    &.ag-row-selected {
      @include theme-aware("background-color", "transparent-color");

      &:before {
        content: none;
      }
    }
  }

  .ag-row:not(.ag-header-row) {
    contain: layout;
    //content-visibility: auto;
    will-change: auto;
    &:hover {
      z-index: 60;
    }
    .ag-cell {
      .key-box-wrap {
        margin: 0;
        border: none;
        padding: 0;
        border-radius: 0;
        background-color: transparent;

        .sync-txt {
          margin-bottom: 0;
        }

        .syn-tag-count {
          display: inline-flex;
          align-items: center;
          justify-content: center;
          border-radius: 100%;
          flex: 0 0 26px;
          aspect-ratio: 1;
          border: 1px solid $themeGreen4;
          color: $themeGreen4;
          background-color: rgba($themeGreen4, 0.1);
        }
      }

      // &.engagementCell {
      //   color: $themeTransparent
      // }
    }

    &:hover {
      .ag-cell {
        // background-color: #313037 !important;
        @include theme-aware("background-color", "table-row-hover-bg");
      }
    }
  }

  .ag-center-cols-clipper {
    contain: layout;
    content-visibility: auto;
    contain-intrisic-size: 1px 5000px;
  }

  .ag-row:not(:last-child) {
    padding-bottom: 5px;

    // .ag-cell {
    //     &:first-child {
    //         border-radius: 10px 0 0 10px;
    //     }
    //     &:last-child {
    //         border-radius: 0 10px 10px 0;
    //     }
    // }
  }

  .ag-cell {
    height: calc(100% - 5px);
    @include theme-aware("background-color", "listing-cell-bg");
    transition: all ease-in-out 250ms;
    border: none;
    padding-left: var(--ag-cell-horizontal-padding);

    &.ag-cell-focus:focus-within {
      border: none !important;
      line-height: min(var(--ag-internal-calculated-line-height), var(--ag-internal-padded-row-height));
      padding-left: var(--ag-cell-horizontal-padding);
      padding-right: var(--ag-cell-horizontal-padding);
    }

    &.cell-vertical-align {
      display: inline-flex;
      align-items: center;
    }

    // FOR BORDER RADIUS OF FIRST AND LAST CELL
    // &:first-child {
    //   @include border-radius(10px, 0, 0, 10px)
    // }

    // &:last-child {
    //   @include border-radius(0, 10px, 10px, 0)
    // }
    // FOR BORDER RADIUS OF FIRST AND LAST CELL
  }

  .ag-checkbox-input-wrapper,
  .ag-radio-button-input-wrapper {
    width: 20px;
    height: 20px;
    border: 1px solid;
    @include theme-aware("background-color", "checkbox-bg");
    @include theme-aware("border-color", "checkbox-border");
    @include border-radius(4px);
    cursor: pointer;

    input {
      width: 100%;
      height: 100%;
      cursor: pointer;
    }

    .ag-input-field-input {
      height: inherit !important;
      padding: 0 !important;
    }

    &.ag-checked {
      @include theme-aware("background-color", "checked-checkbox-bg");
      @include theme-aware("border-color", "checkbox-checked-border");
      background-image: url("../../../SVG/tick-white.svg");
      background-repeat: no-repeat;
      background-position: center center;

      &:after {
        content: "" !important;
      }
    }

    &:after {
      content: "" !important;
    }
  }

  .ag-menu {
    @include theme-aware("background-color", "listing-popup-bg");
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    .ag-input-field-input {
      height: 40px;
      @include theme-aware("background-color", "listing-popup-bg");
      @include theme-aware("--ag-data-color", "text-color");
      @include border-radius(5px);
      border-color: rgba(255, 255, 255, 0.1);
      padding-inline: 15px;

      &:focus {
        border-color: $themeDefaultPrimary1;
      }
    }
  }

  .ag-popup {
    @include theme-aware("background-color", "listing-cell-bg");
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    &.ag-theme-fr-table {
      *:not(button) {
        @include theme-aware("background-color", "listing-popup-bg");
        @include theme-aware("--ag-foreground-color", "text-color");
        // height: 40px;
      }
    }
  }

  .ag-header-cell {
    cursor: default;

    .ag-icon {
      background-image: url("../../../images/filter-sprite.png");
      width: 18px;
      height: 18px;
      background-size: auto 46px;
      background-position: -4px -6px;
      background-repeat: no-repeat;

      .ag-icon[unselectable="on"] {
        background-position: 0px center;
      }
    }

    .ag-sort-indicator-container {
      align-items: center;
      .ag-sort-indicator-icon {
        .ag-icon {
          font-size: 0;
          background-size: auto 7px;
          background-repeat: no-repeat;
          background-position: center center;

          &.ag-icon-asc {
            // background-image: url('../../../SVG/down-grey.svg');
            // display: inline-flex !important;
            // font-size: 0 !important;
            background-image: url("../../../images/sort-sprite.png");
            background-repeat: no-repeat;
            background-size: auto 47px;
            background-position: -6px -27px !important;
          }

          // &.ag-icon-desc {
          //     background-image: url('../../../SVG/up-grey.svg');
          // }
        }
        &.ag-sort-order {
          font-size: 0;
          display: none;
        }
      }

      > span:not(.ag-hidden) {
        // display: inline-flex !important;
        width: 18px;
        aspect-ratio: 1 / 1;
        background-image: url("../../../images/sort-sprite.png");
        background-repeat: no-repeat;
        background-size: auto 46px;
        background-position: -5px -5px;

        &.ag-sort-ascending-icon {
          background-position: -5px -23px;
        }

        &.ag-sort-descending-icon {
          background-position: -22px -5px;
        }

        span {
          display: none !important;
        }
      }

      &:has(.ag-hidden + .ag-hidden + .ag-hidden + .ag-hidden + .ag-hidden) {
        .ag-sort-none-icon {
          display: inline-flex !important;
        }
      }
    }

    .ag-cell-label-container {
      justify-content: start;

      > .ag-header-icon {
        order: 1;
        margin-inline: 0 5px !important;
      }

      > *:not(.ag-header-cell-text):not(.ag-header-cell-label) {
        margin-left: 5px;
      }

      .ag-header-cell-label,
      .ag-header-icon {
        cursor: pointer;
      }
      .ag-header-icon + .ag-header-cell-label {
        flex: 0 0 auto;
      }
      .ag-sort-none-icon {
        font-size: 0 !important;
        background-image: url("../../../images/sort-sprite.png");
        background-repeat: no-repeat;
        background-size: auto 46px;
        background-position: -4px -5px;
      }
      &.ag-header-cell-sorted-asc {
        .ag-sort-none-icon.ag-sort-indicator-icon {
          display: none !important;
        }

        .ag-cell-label-container {
          justify-content: flex-start;

          > *:not(.ag-header-cell-text):not(.ag-header-cell-label) {
            margin-left: 5px;
          }

          .ag-header-cell-label,
          .ag-header-icon {
            cursor: pointer;
          }
          .ag-header-icon + .ag-header-cell-label {
            cursor: grabbing;
            flex: 0 0 auto;
          }
          .ag-sort-none-icon {
            display: inline-flex !important;
            font-size: 0 !important;
            background-image: url("../../../images/sort-sprite.png");
            background-repeat: no-repeat;
            background-size: auto 46px;
            background-position: -2px -5px;
          }
          &.ag-header-cell-sorted-asc {
            .ag-sort-none-icon.ag-sort-indicator-icon {
              display: none !important;
            }
            .ag-sort-ascending-icon {
              font-size: 0 !important;
              background-image: url("../../../images/sort-sprite.png");
              background-repeat: no-repeat;
              background-size: auto 46px;
              background-position: -2px -23px;
            }
          }
          &.ag-header-cell-sorted-desc {
            .ag-sort-none-icon.ag-sort-indicator-icon {
              display: none !important;
            }
            .ag-sort-descending-icon {
              font-size: 0 !important;
              background-image: url("../../../images/sort-sprite.png");
              background-repeat: no-repeat;
              background-size: auto 46px;
              background-position: -20px -5px;
            }
          }
        }
      }
      &.ag-header-cell-sorted-desc {
        .ag-sort-none-icon.ag-sort-indicator-icon {
          display: none !important;
        }
        .ag-sort-descending-icon {
          font-size: 0 !important;
          background-image: url("../../../images/sort-sprite.png");
          background-repeat: no-repeat;
          background-size: auto 46px;
          background-position: -20px -5px;
        }
      }
    }

    &:hover {
      .ag-header-cell-resize {
        &:before {
          content: "";
          display: inline-flex;
          vertical-align: middle;
          margin-inline: 1px;
          width: 4px;
          border-left: 1px solid rgba(255, 255, 255, 0.5);
          border-right: 1px solid rgba(255, 255, 255, 0.5);
          position: absolute;
          height: 35%;
          top: 50%;
          left: 1px;
          transform: translate(-50%, -50%);
          pointer-events: none;
        }
      }
    }

    &.ag-column-menu-visible {
      .ag-icon {
        background-position: 35px center;
      }
    }

    &.ag-header-cell-filtered {
      .ag-header-cell-label {
        .ag-filter-icon {
          .ag-icon {
            background-position: -24px -6px;
          }
        }
      }
    }

    &.header-query-tooltip {
      .ag-header-cell-comp-wrapper {
        .ag-header-cell-label {
          > .ag-header-cell-text {
            &::after {
              content: url("../../../images/grey-query-icon.svg");
              line-height: 1;
              display: inline-flex;
              align-items: center;
              justify-content: center;
              height: 18px;
              font-size: 0;
              vertical-align: middle;
              margin-left: 5px;
            }
          }
        }
      }
    }

    &.ag-header-cell-sortable {
      &:not(:hover) {
      }
    }
    &.header-gender {
      .ag-header-cell-text {
        font-size: 0;
        content: url("../../../images/gender-icon.svg");
      }
    }
    &.header-reaction {
      .ag-header-cell-text {
        content: url("../../../images/reaction-icon.svg");
      }
    }
    &.header-comments {
      .ag-header-cell-text {
        content: url("../../../images/comments-icon.svg");
      }
    }
    &.header-messages {
      .ag-header-cell-text {
        content: url("../../../images/messages-icon.svg");
      }
    }
    &.header-engagement {
      .ag-header-cell-text {
        content: url("../../../images/engagement-icon.svg");
      }
    }
    &.header-recent-engagement {
      .ag-header-cell-text {
        content: url("../../../images/recent-engagement-icon.svg");
      }
    }
    &:not(:first-child) {
      &:not(.campaign-name-header){
        padding-inline: 8px;
      }
    }
  }
  .ag-picker-field-icon {
    .ag-icon {
      background-image: url("../../../SVG/down-grey.svg");
      font-size: 0;
      width: 8px;
      height: 8px;
      background-repeat: no-repeat;
    }
  }

  .ag-filter {
    .ag-filter-body-wrapper {
      padding: 14px 10px;
      @include border-radius(5px);

      .ag-filter-select {
        height: 40px;
        margin: 0;
      }
    }
  }

  .ag-standard-button {
    cursor: pointer;
    color: $themeDefaultPrimary2;
    @include border-radius(3px);
    @include theme-aware("background-color", "button-bg");

    &:hover {
      @include theme-aware("background-color", "btn-hover");
      @include theme-aware("color", "btn-hover-text");
    }
    &:disabled {
      @include theme-aware("background-color", "btn-disabled");
    }
  }

  .ag-paging-panel {
    display: none;
  }

  // &.defaultPaginate {
  //     .ag-paging-panel {
  //         display: flex;
  //     }
  // }

  .ag-icon {
    font-size: 0;
  }

  .ag-overlay-panel {
    width: 100%;
    .ag-overlay-wrapper {
      width: 100%;
      background-color: transparent;
      align-items: flex-start;

      .ag-react-container {
        width: 100%;
        padding-top: 51px;

        .page-loader-mainSpace {
          margin: 0;
        }
      }
    }
  }

  .ag-popup-child {
    z-index: 9;
  }

  .ag-body-viewport {
    padding-right: 10px;
  }

  &.selected-options {
    .ag-header {
      margin-bottom: 85px;
    }
  }
}
// Asad shared with me Bappa's modification
// .add-campaign-modal {
//   .selector_box_options {
//     max-height: 300%;
//     overflow: auto;
//   }
// }

.error-text-inline {
  @include theme-aware('color', 'deleteRed');
  font-size: $smallFontSize;
  font-weight: $fontWeight;
}