@use "../../abstract/color" as *;
@use "../../abstract/font" as *;
@use "../../abstract/mixins" as *;

.footer-infos {
  width: 100%;
  @include positioned (relative);
  @include margins (auto, 0, 0, 0);
  @include paddings (20px, 0, 20px, 0);
  p{
    font-size: $footerFontSize;
    color: $themeSecondaryDarkBlue3;
    font-weight: $smallFontWeight;
    a {
      color: $themeDefaultPrimary4;
      font-weight: $fontWeight;
      &:hover {
        color: $themeDefaultPrimary1;
      }
    }
  }

  &.fr-signed-in {
    @include theme-aware('background', 'footer-bg');
    // @include border-radius(5px);
    // @include margins(10px, auto, 13px, auto);
    border-top: 1px solid;
    @include theme-aware('border-color', 'general-border');
    // max-width: calc(100% - 60px);
    flex: 0 0 40px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

