@use "../../abstract/color" as *;
@use "../../abstract/mixins" as *;
@use "../../abstract/font" as *;

// .friends-list-table {
//     display: table;
//     width: 100%;
//     border-collapse: separate;
//     border-spacing: 0 5px;

//     .friends-list-row {
//         display: table-row;

//         &:hover {
//             filter: drop-shadow(1px 17px 44px rgba(3, 2, 41, 0.07));
//             -webkit-filter: drop-shadow(1px 17px 44px rgba(3, 2, 41, 0.07));
//         }
//     }

//     .friends-list-cell {
//         height: 50px;
//         display: table-cell;
//         vertical-align: middle;
//         @include theme-aware('background-color', 'listing-cell-bg');
//         @include theme-aware('color', 'text-color');

//         * {
//             @include theme-aware('color', 'text-color');
//         }

//         .friends-dp {
//             @include circleAvater(36px, $radius: 50%);
//             background-position: center center;
//             background-repeat: no-repeat;
//             background-size: auto;
//             display: inline-flex;
//             vertical-align: middle;
//         }

//         .list-text {
//             display: inline-block;
//             vertical-align: middle;
//         }

//         &:first-child {
//             border-radius: 10px 0 0 10px;
//             -webkit-border-radius: 10px 0 0 10px;
//             -moz-border-radius: 10px 0 0 10px;
//             -ms-border-radius: 10px 0 0 10px;
//             -o-border-radius: 10px 0 0 10px;
//         }

//         &:last-child {
//             border-radius: 0 10px 10px 0;
//             -webkit-border-radius: 0 10px 10px 0;
//             -moz-border-radius: 0 10px 10px 0;
//             -ms-border-radius: 0 10px 10px 0;
//             -o-border-radius: 0 10px 10px 0;
//         }
//     }

//     .friends-list-header {
//         display: table-header-group;
//         width: 100%;

//         .friends-list-cell {
//             background-color: transparent;
//         }
//     }
// }

.ag-theme-fr-table {
  --ag-background-color: transparent !important;
  font-family: "Nunito", sans-serif !important;
  @include theme-aware("--ag-foreground-color", "text-color");
  @include theme-aware("--ag-border-color", "transparent-color");
  @include theme-aware("--ag-data-color", "text-color");

  .ag-header-row,
  .ag-row {
    @include theme-aware("background-color", "transparent-color");

    &.ag-row-selected {
      @include theme-aware("background-color", "transparent-color");

      &:before {
        content: none;
      }
    }
  }

  .ag-row:not(.ag-header-row) {
    contain: layout;
    //content-visibility: auto;
    will-change: auto;
    &:hover {
      z-index: 60;

      .message-context-menu {
        > svg {
          *[fill] {
            @include theme-aware("fill", "text-color");
          }
        }
      }
    }
    .ag-cell {
      .key-box-wrap {
        margin: 0;
        border: none;
        padding: 0;
        border-radius: 0;
        background-color: transparent;

        .sync-txt {
          margin-bottom: 0;
        }

        .syn-tag-count {
          display: inline-flex;
          align-items: center;
          justify-content: center;
          border-radius: 100%;
          flex: 0 0 26px;
          aspect-ratio: 1;
          border: 1px solid $themeGreen4;
          color: $themeGreen4;
          background-color: rgba($themeGreen4, 0.1);
        }
      }

      // &.engagementCell {
      //   color: $themeTransparent
      // }

      .campaign-status-cell,
      .campaign-count-cell,
      .campaign-schedule-cell,
      .campaign-endTime-cell,
      .campaign-contextMenu-cell {
          padding-left: 0;
      }

      &:not(:first-child) {
        > * {
          &:not( > .campaign-status-cell)
          :not( > .campaign-count-cell)
          :not( > .campaign-schedule-cell)
          :not( > .campaign-endTime-cell)
          :not( > .campaign-contextMenu-cell)
          :not( > .campaign-pending-cell) {
            padding-left: 18px;
          }
        }
      }
      .friend-queue-keywords-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        .friend-queue-keywords {
          background-color: rgba(41, 117, 49, 1);
          padding: 2px 8px;
          border-radius: 16px;
        }

        .friend-queue-keywords-more {
          margin-left: 4px;
          padding: 6px 4px;
          border-radius: 50%;
          border: 1px solid rgba(58, 151, 76, 1);
          background-color: rgba(41, 117, 49, 0.2);
          color: rgba(58, 151, 76, 1);
          font-size: 12px;
          font-weight: 400;
          line-height: 19px;
        }
      }
    }

    &:hover {
      .ag-cell {
        // background-color: #313037 !important;
        @include theme-aware("background-color", "table-row-hover-bg");
      }
    }
  }

  .ag-center-cols-clipper {
    contain: layout;
    content-visibility: auto;
    contain-intrisic-size: 1px 5000px;
  }

  .ag-row:not(:last-child) {
    padding-bottom: 5px;

    // .ag-cell {
    //     &:first-child {
    //         border-radius: 10px 0 0 10px;
    //     }
    //     &:last-child {
    //         border-radius: 0 10px 10px 0;
    //     }
    // }
  }

  .ag-cell {
    height: calc(100% - 5px);
    @include theme-aware("background-color", "listing-cell-bg");
    transition: all ease-in-out 250ms;
    border: none;
    padding-left: var(--ag-cell-horizontal-padding);

    &.ag-cell-focus:focus-within {
      border: none !important;
      line-height: min(var(--ag-internal-calculated-line-height), var(--ag-internal-padded-row-height));
      padding-left: var(--ag-cell-horizontal-padding);
      padding-right: var(--ag-cell-horizontal-padding);
    }

    &.cell-vertical-align {
      display: inline-flex;
      align-items: center;
    }

    // FOR BORDER RADIUS OF FIRST AND LAST CELL
    // &:first-child {
    //   @include border-radius(10px, 0, 0, 10px)
    // }

    // &:last-child {
    //   @include border-radius(0, 10px, 10px, 0)
    // }
    // FOR BORDER RADIUS OF FIRST AND LAST CELL
  }

  .ag-checkbox-input-wrapper,
  .ag-radio-button-input-wrapper {
    width: 20px;
    height: 20px;
    border: 1px solid;
    @include theme-aware("background-color", "checkbox-bg");
    @include theme-aware("border-color", "checkbox-border");
    @include border-radius(4px);
    cursor: pointer;

    input {
      width: 100%;
      height: 100%;
      cursor: pointer;
    }

    .ag-input-field-input {
      height: inherit !important;
      padding: 0 !important;
    }

    &.ag-checked {
      @include theme-aware("background-color", "checked-checkbox-bg");
      @include theme-aware("border-color", "checkbox-checked-border");
      background-image: url("../../../SVG/tick-white.svg");
      background-repeat: no-repeat;
      background-position: center center;

      &:after {
        content: "" !important;
      }
    }

    &:after {
      content: "" !important;
    }
  }

  .ag-menu {
    @include theme-aware("background-color", "listing-popup-bg");
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    .ag-input-field-input {
      height: 40px;
      @include theme-aware("background-color", "listing-popup-bg");
      @include theme-aware("--ag-data-color", "text-color");
      @include border-radius(5px);
      border-color: rgba(255, 255, 255, 0.1);
      padding-inline: 15px;

      &:focus {
        border-color: $themeDefaultPrimary1;
      }
    }
  }

  .ag-popup {
    @include theme-aware("background-color", "listing-cell-bg");
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    &.ag-theme-fr-table {
      *:not(button) {
        @include theme-aware("background-color", "listing-popup-bg");
        @include theme-aware("--ag-foreground-color", "text-color");
        // height: 40px;
      }
    }
  }

  .ag-header-cell {
    cursor: default;

    .ag-icon {
      background-image: url("../../../images/filter-sprite.png");
      width: 18px;
      height: 18px;
      background-size: auto 46px;
      background-position: -4px -6px;
      background-repeat: no-repeat;

      .ag-icon[unselectable="on"] {
        background-position: 0px center;
      }
    }

    .ag-sort-indicator-container {
      align-items: center;
      .ag-sort-indicator-icon {
        .ag-icon {
          font-size: 0;
          background-size: auto 7px;
          background-repeat: no-repeat;
          background-position: center center;

          &.ag-icon-asc {
            // background-image: url('../../../SVG/down-grey.svg');
            // display: inline-flex !important;
            // font-size: 0 !important;
            background-image: url("../../../images/sort-sprite.png");
            background-repeat: no-repeat;
            background-size: auto 47px;
            background-position: -6px -27px !important;
          }

          // &.ag-icon-desc {
          //     background-image: url('../../../SVG/up-grey.svg');
          // }
        }
        &.ag-sort-order {
          font-size: 0;
          display: none;
        }
      }

      > span:not(.ag-hidden) {
        // display: inline-flex !important;
        width: 18px;
        aspect-ratio: 1 / 1;
        background-image: url("../../../images/sort-sprite.png");
        background-repeat: no-repeat;
        background-size: auto 46px;
        background-position: -5px -5px;

        &.ag-sort-ascending-icon {
          background-position: -5px -23px;
        }

        &.ag-sort-descending-icon {
          background-position: -22px -5px;
        }

        span {
          display: none !important;
        }
      }

      &:has(.ag-hidden + .ag-hidden + .ag-hidden + .ag-hidden + .ag-hidden) {
        .ag-sort-none-icon {
          display: inline-flex !important;
        }
      }
    }

    .ag-cell-label-container {
      justify-content: start;

      > .ag-header-icon {
        order: 1;
        margin-inline: 0 5px !important;
      }

      > *:not(.ag-header-cell-text):not(.ag-header-cell-label) {
        margin-left: 5px;
      }

      .ag-header-cell-label,
      .ag-header-icon {
        cursor: pointer;
      }
      .ag-header-icon + .ag-header-cell-label {
        flex: 0 0 auto;
      }
      .ag-sort-none-icon {
        font-size: 0 !important;
        background-image: url("../../../images/sort-sprite.png");
        background-repeat: no-repeat;
        background-size: auto 46px;
        background-position: -4px -5px;
      }
      &.ag-header-cell-sorted-asc {
        .ag-sort-none-icon.ag-sort-indicator-icon {
          display: none !important;
        }

        .ag-cell-label-container {
          justify-content: flex-start;

          > *:not(.ag-header-cell-text):not(.ag-header-cell-label) {
            margin-left: 5px;
          }

          .ag-header-cell-label,
          .ag-header-icon {
            cursor: pointer;
          }
          .ag-header-icon + .ag-header-cell-label {
            cursor: grabbing;
            flex: 0 0 auto;
          }
          .ag-sort-none-icon {
            display: inline-flex !important;
            font-size: 0 !important;
            background-image: url("../../../images/sort-sprite.png");
            background-repeat: no-repeat;
            background-size: auto 46px;
            background-position: -2px -5px;
          }
          &.ag-header-cell-sorted-asc {
            .ag-sort-none-icon.ag-sort-indicator-icon {
              display: none !important;
            }
            .ag-sort-ascending-icon {
              font-size: 0 !important;
              background-image: url("../../../images/sort-sprite.png");
              background-repeat: no-repeat;
              background-size: auto 46px;
              background-position: -2px -23px;
            }
          }
          &.ag-header-cell-sorted-desc {
            .ag-sort-none-icon.ag-sort-indicator-icon {
              display: none !important;
            }
            .ag-sort-descending-icon {
              font-size: 0 !important;
              background-image: url("../../../images/sort-sprite.png");
              background-repeat: no-repeat;
              background-size: auto 46px;
              background-position: -20px -5px;
            }
          }
        }
      }
      &.ag-header-cell-sorted-desc {
        .ag-sort-none-icon.ag-sort-indicator-icon {
          display: none !important;
        }
        .ag-sort-descending-icon {
          font-size: 0 !important;
          background-image: url("../../../images/sort-sprite.png");
          background-repeat: no-repeat;
          background-size: auto 46px;
          background-position: -20px -5px;
        }
      }
    }

    &:hover {
      .ag-header-cell-resize {
        &:before {
          content: "";
          display: inline-flex;
          vertical-align: middle;
          margin-inline: 1px;
          width: 4px;
          border-left: 1px solid rgba(255, 255, 255, 0.5);
          border-right: 1px solid rgba(255, 255, 255, 0.5);
          position: absolute;
          height: 35%;
          top: 50%;
          left: 1px;
          transform: translate(-50%, -50%);
          pointer-events: none;
        }
      }
    }

    &.ag-column-menu-visible {
      .ag-icon {
        background-position: 35px center;
      }
    }

    &.ag-header-cell-filtered {
      .ag-header-cell-label {
        .ag-filter-icon {
          .ag-icon {
            background-position: -24px -6px;
          }
        }
      }
    }

    &.header-query-tooltip {
      .ag-header-cell-comp-wrapper {
        .ag-header-cell-label {
          > .ag-header-cell-text {
            &::after {
              content: url("../../../images/grey-query-icon.svg");
              line-height: 1;
              display: inline-flex;
              align-items: center;
              justify-content: center;
              height: 18px;
              font-size: 0;
              vertical-align: middle;
              margin-left: 5px;
            }
          }
        }
      }
    }

    &.ag-header-cell-sortable {
      &:not(:hover) {
      }
    }
    &.header-gender {
      .ag-header-cell-text {
        font-size: 0;
        content: url("../../../images/gender-icon.svg");
      }
    }
    &.header-reaction {
      .ag-header-cell-text {
        content: url("../../../images/reaction-icon.svg");
      }
    }
    &.header-comments {
      .ag-header-cell-text {
        content: url("../../../images/comments-icon.svg");
      }
    }
    &.header-messages {
      .ag-header-cell-text {
        content: url("../../../images/messages-icon.svg");
      }
    }
    &.header-engagement {
      .ag-header-cell-text {
        content: url("../../../images/engagement-icon.svg");
      }
    }
    &.header-recent-engagement {
      .ag-header-cell-text {
        content: url("../../../images/recent-engagement-icon.svg");
      }
    }
    &:not(:first-child) {
      padding-inline: 8px;
    }
  }
  .ag-picker-field-icon {
    .ag-icon {
      background-image: url("../../../SVG/down-grey.svg");
      font-size: 0;
      width: 8px;
      height: 8px;
      background-repeat: no-repeat;
    }
  }

  .ag-filter {
    .ag-filter-body-wrapper {
      padding: 14px 10px;
      @include border-radius(5px);

      .ag-filter-select {
        height: 40px;
        margin: 0;
      }
    }
  }

  .ag-standard-button {
    cursor: pointer;
    color: $themeDefaultPrimary2;
    @include border-radius(3px);
    @include theme-aware("background-color", "button-bg");

    &:hover {
      @include theme-aware("background-color", "btn-hover");
      @include theme-aware("color", "btn-hover-text");
    }
    &:disabled {
      @include theme-aware("background-color", "btn-disabled");
    }
  }

  .ag-paging-panel {
    display: none;
  }

  // &.defaultPaginate {
  //     .ag-paging-panel {
  //         display: flex;
  //     }
  // }

  .ag-icon {
    font-size: 0;
  }

  .ag-overlay-panel {
    width: 100%;
    .ag-overlay-wrapper {
      width: 100%;
      background-color: transparent;
      align-items: flex-start;

      .ag-react-container {
        width: 100%;
        padding-top: 51px;

        .page-loader-mainSpace {
          margin: 0;
        }
      }
    }
  }

  .ag-popup-child {
    z-index: 9;
  }

  .ag-body-viewport {
    padding-right: 10px;
  }

  &.selected-options {
    .ag-header {
      margin-bottom: 85px;
    }
  }
}

.account-status {
  display: inline-flex;
  align-items: center;
  font-weight: 600;

  span {
    display: inline-flex;
    vertical-align: middle;
  }

  .status-bg {
    display: inline-flex;
    @include circleAvater(8px, $radius: 50%);
    background-color: $themeSecondaryGrey12;
    box-shadow: 0 0 0 3px $themeSecondaryGrey11;
  }

  .status-text {
    margin-left: 13px;
  }

  &.status-activate {
    .status-bg {
      background-color: $themeGreen7;
      box-shadow: 0 0 0 3px $themeGreen6;
    }

    .status-text {
      color: $themeGreen7;
    }
  }
}

.friend-gender {
  .friend-gender-ico {
    flex: 0 0 16px;
    text-align: center;
    margin-right: 10px;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    // &.male {
    //   svg path {
    //     @include theme-aware("fill", "text-color");
    //   }
    // }
  }

  span {
    text-transform: capitalize;
  }
}

.friend-sync-source {
  color: #fff;
  .friend-source {
    flex: 0 0 0;
    // text-align: center;
    // margin-right: 10px;
    // display: inline-flex;
    // align-items: start;
    // justify-content: start;
    svg {
      margin-top: 10px;
      margin-right: 5px;
    }
  }

  .friendSource {
    > span {
      line-height: normal;
    }
  }

  span {
    text-transform: capitalize;
    line-height: 1;
  }
}

.sync-date {
  .sync-ico {
    margin-right: 10px;
    display: inline-flex;
    align-items: center;
  }
  .sync-dt {
    margin-right: 28px;
  }
  .sync-tm {
    margin-right: 28px;
  }
}
.sync-email {
  .sync-ico {
    margin-right: 10px;
    display: inline-flex;
    align-items: center;
  }
  .sync-txt {
    margin-right: 28px;
  }
}
.sync-box-wrap {
  display: inline-flex;
  margin: 3px;
  padding: 5px 16px 5px 16px;
  @include theme-aware("background", "settings-background");
  border: 1px solid #313037;
  border-radius: 22.5px;
  &.matched_key {
    border: 1px solid #4caf50;
    animation: glow 1s ease-in-out infinite;
  }

  &.green {
    background: rgba(73, 206, 86, 0.1);
    border: none;
    .sync-txt {
      color: #3a974c;
    }
  }
  &.yellow {
    background: rgba(255, 184, 0, 0.1);
    border: none;
    .sync-txt {
      color: #ff9900;
    }
  }
  &.key-box-wrap {
    cursor: pointer;
  }
}

.table-footer {
  width: calc(100% - 20px);
  margin-block: 40px 10px;
  flex: 0 0 30px;

  .select-page {
    margin-left: auto;

    select {
      background: transparent;
      border: none;
      padding-right: 12px;
      font-weight: 600;
      font-size: 15px;
      line-height: 16px;
      cursor: pointer;
      background-image: url("../../../SVG/down-grey.svg");
      @include theme-aware("color", "items-per-page-color");
      background-repeat: no-repeat;
      background-position: right 3px center;
      -moz-appearance: none;
      -webkit-appearance: none;
    }
  }

  &:before {
    content: "";
    height: 1px;
    @include theme-aware("background", "general-border");
    width: 100%;
    position: absolute;
    left: 0;
    margin-top: -50px;
  }
}

.name-image-renderer {
  display: flex;
  align-items: center;
  width: 100%;
  white-space: nowrap;
  //overflow: hidden;
  text-overflow: ellipsis;
  @include theme-aware("color", "text-color");
  a {
    // display: flex;
    // align-items: center;
    // width: 100%;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    @include theme-aware("color", "text-color");
  }
  .fb-display-pic {
    width: 36px;
    flex: 0 0 36px;
    aspect-ratio: 1;
    display: inline-flex;
    vertical-align: middle;
    border-radius: 50%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("../../../images/profilePhoto.png");
    margin-right: 14px;
  }
  .fb-name {
    max-width: 105px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
  }

  .profile-whitelabeled {
    margin-left: 9px;
    display: inline-flex;
    line-height: 1;
    cursor: pointer;
  }
  .ico-open-link {
    margin-left: 5px;
    flex: 0 0 14px;

    svg {
      *[fill] {
        @include theme-aware("fill", "link-text-color");
      }
      *[stroke] {
        @include theme-aware("stroke", "link-text-color");
      }
    }
  }

  .placeholder-name {
    margin-left: 8px;
  }
}
.ico-open-link {
  line-height: 1;
  font-size: 0;
  display: inline-flex;
  align-items: center;
}
.ag-cell-wrapper {
  max-width: 100%;
  //overflow: hidden;
  //text-overflow: ellipsis;
  width: 100%;
}
.selection-popup {
  background-color: $themeBackground;
  border: 2px solid;
  border-color: $themeDefaultPrimary1;
  @include border-radius(10px);
  height: 80px;
  flex: 0 0 80px;
  position: absolute;
  top: 51px;
  width: 96%;
  z-index: 9;
  left: 0;
  right: 0;
  margin: 0 auto;

  p {
    @include theme-aware("color", "text-para-color");

    span {
      @include theme-aware("color", "text-color");
      margin-left: 5px;
    }
  }
}

.theme-default {
  input[type="date" i]::-webkit-calendar-picker-indicator {
    background-image: url("../../../SVG/calendar-blue.svg");
  }
}

// Plugin Filter

.ag-picker-field-wrapper {
  border: 1px solid $themeDefaultPrimary3 !important;
  padding: 0 6px;
  color: $themeDefaultPrimary3;
}

@keyframes glow {
  0% {
    box-shadow: 0 0 0 0 #27ea4e;
  }

  50% {
    box-shadow: 0 0 10px 0 #27ea4e;
  }
}

.ag-tooltip {
  min-width: 150px;
  height: auto;
  max-width: 330px;
  color: #ffffff;
  padding: 8px 10px;
  background: #313037 !important;
  border-radius: 2px;
  //text-align: center;
  z-index: 999 !important;
  transform: translate(-50%, 0);
  &::after {
    content: "";
    position: absolute;
    transform-origin: 50% 50%;
    background: transparent !important;
    z-index: 0 !important;
    width: 0;
    height: 0;
    // border-top: 22px solid transparent;
    border-left: 22px solid transparent;
    border-right: 22px solid transparent;
    border-bottom: 22px solid #313037;
    @include theme-aware("background-color", "tooltip-bg");
    @include border-radius(2px);
    left: 46%;
    top: -10px;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    // rotate: 45deg;
  }
}

.ag-tooltip {
  &.ag-ltr {
    &.ag-popup-child {
      &::after {
        content: none;
      }
    }
  }
}

//  .ag-popup {
//   background-color: #FF0000 !important; /* Replace with your desired background color */
// }

.ag-theme-fr-table {
  .ag-row {
  }
}

#grid-wrapper,
#grid-wrapper-campaign {
  .tier-icon {
    width: 33px;
    margin-right: 9px;
    padding-right: 0;
    vertical-align: middle;
  }

  .country-name {
    text-transform: capitalize;
    font-size: $smallFontSize;
    font-weight: $smallFontWeight;
    padding-right: 0;
    vertical-align: middle;
  }
}
