@use "../../abstract/color" as *;
@use "../../abstract/mixins" as *;
@use "../../abstract/font" as *;

// .friends-list-table {
//     display: table;
//     width: 100%;
//     border-collapse: separate;
//     border-spacing: 0 5px;

//     .friends-list-row {
//         display: table-row;

//         &:hover {
//             filter: drop-shadow(1px 17px 44px rgba(3, 2, 41, 0.07));
//             -webkit-filter: drop-shadow(1px 17px 44px rgba(3, 2, 41, 0.07));
//         }
//     }

//     .friends-list-cell {
//         height: 50px;
//         display: table-cell;
//         vertical-align: middle;
//         @include theme-aware('background-color', 'listing-cell-bg');
//         @include theme-aware('color', 'text-color');

//         * {
//             @include theme-aware('color', 'text-color');
//         }

//         .friends-dp {
//             @include circleAvater(36px, $radius: 50%);
//             background-position: center center;
//             background-repeat: no-repeat;
//             background-size: auto;
//             display: inline-flex;
//             vertical-align: middle;
//         }

//         .list-text {
//             display: inline-block;
//             vertical-align: middle;
//         }

//         &:first-child {
//             border-radius: 10px 0 0 10px;
//             -webkit-border-radius: 10px 0 0 10px;
//             -moz-border-radius: 10px 0 0 10px;
//             -ms-border-radius: 10px 0 0 10px;
//             -o-border-radius: 10px 0 0 10px;
//         }

//         &:last-child {
//             border-radius: 0 10px 10px 0;
//             -webkit-border-radius: 0 10px 10px 0;
//             -moz-border-radius: 0 10px 10px 0;
//             -ms-border-radius: 0 10px 10px 0;
//             -o-border-radius: 0 10px 10px 0;
//         }
//     }

//     .friends-list-header {
//         display: table-header-group;
//         width: 100%;

//         .friends-list-cell {
//             background-color: transparent;
//         }
//     }
// }

.ag-theme-fr-table {
  --ag-background-color: transparent !important;
  font-family: "Nunito", sans-serif !important;
  @include theme-aware("--ag-foreground-color", "text-color");
  @include theme-aware("--ag-border-color", "transparent-color");
  @include theme-aware("--ag-data-color", "text-color");

  .ag-header-row,
  .ag-row {
    @include theme-aware("background-color", "transparent-color");

    &.ag-row-selected {
      @include theme-aware("background-color", "transparent-color");

      &:before {
        content: none;
      }
    }

    &:has(.fb-friend-request-warning) {
      .ag-cell {
        background-color: transparentize($themeRed1, 0.83) !important;

        &:first-child {
          &:before {
            position: absolute;
            content: "";
            left: 0;
            height: 100%;
            height: 100%;
            width: 4px;
            background: $themeRed1;
          }
        }
      }
    }
  }

  .ag-row:not(.ag-header-row) {
    contain: layout;
    //content-visibility: auto;
    will-change: auto;
    &:hover {
      z-index: 60;

      .message-context-menu {
        > svg {
          *[fill] {
            @include theme-aware("fill", "text-color");
          }
        }
      }
    }
    .ag-cell {
      .key-box-wrap {
        margin: 0;
        border: none;
        padding: 0;
        border-radius: 0;
        background-color: transparent;

        .sync-txt {
          margin-bottom: 0;
        }

        .syn-tag-count {
          display: inline-flex;
          align-items: center;
          justify-content: center;
          border-radius: 100%;
          flex: 0 0 26px;
          aspect-ratio: 1;
          border: 1px solid $themeGreen4;
          color: $themeGreen4;
          background-color: rgba($themeGreen4, 0.1);
        }
      }

      // &.engagementCell {
      //   color: $themeTransparent
      // }

      .campaign-status-cell,
      .campaign-count-cell,
      .campaign-schedule-cell,
      .campaign-endTime-cell,
      .campaign-contextMenu-cell {
        padding-left: 0;
      }

      &:not(:first-child) {
        > * {
          &:not(> .campaign-status-cell)
            :not(> .campaign-count-cell)
            :not(> .campaign-schedule-cell)
            :not(> .campaign-endTime-cell)
            :not(> .campaign-contextMenu-cell)
            :not(> .campaign-pending-cell) {
            padding-left: 18px;
          }
        }
      }
      .friend-queue-keywords-container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .friend-queue-keywords {
          background-color: rgba(41, 117, 49, 1);
          padding: 3px 12px;
          border-radius: 16px;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          max-width: 160px;
        }

        .friend-queue-keywords-more {
          margin-left: 4px;
          padding: 6px 8px;
          border-radius: 50%;
          border: 1px solid rgba(58, 151, 76, 1);
          background-color: rgba(41, 117, 49, 0.2);
          color: rgba(58, 151, 76, 1);
          font-size: 12px;
          font-weight: 400;
          line-height: 19px;
          cursor: pointer;
        }
      }
    }

    &:hover {
      .ag-cell {
        // background-color: #313037 !important;
        @include theme-aware("background-color", "table-row-hover-bg");
      }
    }
  }

  .ag-center-cols-clipper {
    contain: layout;
    content-visibility: auto;
    contain-intrisic-size: 1px 5000px;
  }

  .ag-row:not(:last-child) {
    padding-bottom: 5px;

    // .ag-cell {
    //     &:first-child {
    //         border-radius: 10px 0 0 10px;
    //     }
    //     &:last-child {
    //         border-radius: 0 10px 10px 0;
    //     }
    // }
  }

  .ag-cell {
    height: calc(100% - 5px);
    @include theme-aware("background-color", "listing-cell-bg");
    transition: all ease-in-out 250ms;
    border: none;
    padding-left: var(--ag-cell-horizontal-padding);

    &.ag-cell-focus:focus-within {
      border: none !important;
      line-height: min(var(--ag-internal-calculated-line-height), var(--ag-internal-padded-row-height));
      padding-left: var(--ag-cell-horizontal-padding);
      padding-right: var(--ag-cell-horizontal-padding);
    }

    &.cell-vertical-align {
      display: inline-flex;
      align-items: center;
    }

    // FOR BORDER RADIUS OF FIRST AND LAST CELL
    // &:first-child {
    //   @include border-radius(10px, 0, 0, 10px)
    // }

    // &:last-child {
    //   @include border-radius(0, 10px, 10px, 0)
    // }
    // FOR BORDER RADIUS OF FIRST AND LAST CELL
  }

  .ag-checkbox-input-wrapper,
  .ag-radio-button-input-wrapper {
    width: 20px;
    height: 20px;
    border: 1px solid;
    @include theme-aware("background-color", "checkbox-bg");
    @include theme-aware("border-color", "checkbox-border");
    @include border-radius(4px);
    cursor: pointer;

    input {
      width: 100%;
      height: 100%;
      cursor: pointer;
    }

    .ag-input-field-input {
      height: inherit !important;
      padding: 0 !important;
    }

    &.ag-checked {
      @include theme-aware("background-color", "checked-checkbox-bg");
      @include theme-aware("border-color", "checkbox-checked-border");
      background-image: url("../../../SVG/tick-white.svg");
      background-repeat: no-repeat;
      background-position: center center;

      &:after {
        content: "" !important;
      }
    }

    &:after {
      content: "" !important;
    }
  }

  .ag-menu {
    @include theme-aware("background-color", "listing-popup-bg");
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    .ag-input-field-input {
      height: 40px;
      @include theme-aware("background-color", "listing-popup-bg");
      @include theme-aware("--ag-data-color", "text-color");
      @include border-radius(5px);
      border-color: rgba(255, 255, 255, 0.1);
      padding-inline: 15px;

      &:focus {
        border-color: $themeDefaultPrimary1;
      }
    }
  }

  .ag-popup {
    @include theme-aware("background-color", "listing-cell-bg");
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    &.ag-theme-fr-table {
      *:not(button) {
        @include theme-aware("background-color", "listing-popup-bg");
        @include theme-aware("--ag-foreground-color", "text-color");
        // height: 40px;
      }
    }
  }

  .ag-header-cell {
    cursor: default;

    .ag-icon {
      background-image: url("../../../images/filter-sprite.png");
      width: 18px;
      height: 18px;
      background-size: auto 46px;
      background-position: -4px -6px;
      background-repeat: no-repeat;

      .ag-icon[unselectable="on"] {
        background-position: 0px center;
      }
    }

    .ag-sort-indicator-container {
      align-items: center;
      .ag-sort-indicator-icon {
        .ag-icon {
          font-size: 0;
          background-size: auto 7px;
          background-repeat: no-repeat;
          background-position: center center;

          &.ag-icon-asc {
            // background-image: url('../../../SVG/down-grey.svg');
            // display: inline-flex !important;
            // font-size: 0 !important;
            background-image: url("../../../images/sort-sprite.png");
            background-repeat: no-repeat;
            background-size: auto 47px;
            background-position: -6px -27px !important;
          }

          // &.ag-icon-desc {
          //     background-image: url('../../../SVG/up-grey.svg');
          // }
        }
        &.ag-sort-order {
          font-size: 0;
          display: none;
        }
      }

      > span:not(.ag-hidden) {
        // display: inline-flex !important;
        width: 18px;
        aspect-ratio: 1 / 1;
        background-image: url("../../../images/sort-sprite.png");
        background-repeat: no-repeat;
        background-size: auto 46px;
        background-position: -5px -5px;

        &.ag-sort-ascending-icon {
          background-position: -5px -23px;
        }

        &.ag-sort-descending-icon {
          background-position: -22px -5px;
        }

        span {
          display: none !important;
        }
      }

      &:has(.ag-hidden + .ag-hidden + .ag-hidden + .ag-hidden + .ag-hidden) {
        .ag-sort-none-icon {
          display: inline-flex !important;
        }
      }
    }

    .ag-cell-label-container {
      justify-content: start;

      > .ag-header-icon {
        order: 1;
        margin-inline: 0 5px !important;
      }

      > *:not(.ag-header-cell-text):not(.ag-header-cell-label) {
        margin-left: 5px;
      }

      .ag-header-cell-label,
      .ag-header-icon {
        cursor: pointer;
      }
      .ag-header-icon + .ag-header-cell-label {
        flex: 0 0 auto;
      }
      .ag-sort-none-icon {
        font-size: 0 !important;
        background-image: url("../../../images/sort-sprite.png");
        background-repeat: no-repeat;
        background-size: auto 46px;
        background-position: -4px -5px;
      }
      &.ag-header-cell-sorted-asc {
        .ag-sort-none-icon.ag-sort-indicator-icon {
          display: none !important;
        }

        .ag-cell-label-container {
          justify-content: flex-start;

          > *:not(.ag-header-cell-text):not(.ag-header-cell-label) {
            margin-left: 5px;
          }

          .ag-header-cell-label,
          .ag-header-icon {
            cursor: pointer;
          }
          .ag-header-icon + .ag-header-cell-label {
            cursor: grabbing;
            flex: 0 0 auto;
          }
          .ag-sort-none-icon {
            display: inline-flex !important;
            font-size: 0 !important;
            background-image: url("../../../images/sort-sprite.png");
            background-repeat: no-repeat;
            background-size: auto 46px;
            background-position: -2px -5px;
          }
          &.ag-header-cell-sorted-asc {
            .ag-sort-none-icon.ag-sort-indicator-icon {
              display: none !important;
            }
            .ag-sort-ascending-icon {
              font-size: 0 !important;
              background-image: url("../../../images/sort-sprite.png");
              background-repeat: no-repeat;
              background-size: auto 46px;
              background-position: -2px -23px;
            }
          }
          &.ag-header-cell-sorted-desc {
            .ag-sort-none-icon.ag-sort-indicator-icon {
              display: none !important;
            }
            .ag-sort-descending-icon {
              font-size: 0 !important;
              background-image: url("../../../images/sort-sprite.png");
              background-repeat: no-repeat;
              background-size: auto 46px;
              background-position: -20px -5px;
            }
          }
        }
      }
      &.ag-header-cell-sorted-desc {
        .ag-sort-none-icon.ag-sort-indicator-icon {
          display: none !important;
        }
        .ag-sort-descending-icon {
          font-size: 0 !important;
          background-image: url("../../../images/sort-sprite.png");
          background-repeat: no-repeat;
          background-size: auto 46px;
          background-position: -20px -5px;
        }
      }
    }

    &:hover {
      .ag-header-cell-resize {
        &:before {
          content: "";
          display: inline-flex;
          vertical-align: middle;
          margin-inline: 1px;
          width: 4px;
          border-left: 1px solid rgba(255, 255, 255, 0.5);
          border-right: 1px solid rgba(255, 255, 255, 0.5);
          position: absolute;
          height: 35%;
          top: 50%;
          left: 1px;
          transform: translate(-50%, -50%);
          pointer-events: none;
        }
      }
    }

    &.ag-column-menu-visible {
      .ag-icon {
        background-position: 35px center;
      }
    }

    &.ag-header-cell-filtered {
      .ag-header-cell-label {
        .ag-filter-icon {
          .ag-icon {
            background-position: -24px -6px;
          }
        }
      }
    }

    &.header-query-tooltip {
      .ag-header-cell-comp-wrapper {
        .ag-header-cell-label {
          > .ag-header-cell-text {
            &::after {
              content: url("../../../images/grey-query-icon.svg");
              line-height: 1;
              display: inline-flex;
              align-items: center;
              justify-content: center;
              height: 18px;
              font-size: 0;
              vertical-align: middle;
              margin-left: 5px;
            }
          }
        }
      }
    }

    &.ag-header-cell-sortable {
      &:not(:hover) {
      }
    }
    &.header-gender {
      .ag-header-cell-text {
        font-size: 0;
        content: url("../../../images/gender-icon.svg");
      }
    }
    &.header-reaction {
      .ag-header-cell-text {
        content: url("../../../images/reaction-icon.svg");
      }
    }
    &.header-comments {
      .ag-header-cell-text {
        content: url("../../../images/comments-icon.svg");
      }
    }
    &.header-messages {
      .ag-header-cell-text {
        content: url("../../../images/messages-icon.svg");
      }
    }
    &.header-engagement {
      .ag-header-cell-text {
        content: url("../../../images/engagement-icon.svg");
      }
    }
    &.header-recent-engagement {
      .ag-header-cell-text {
        content: url("../../../images/recent-engagement-icon.svg");
      }
    }
    &:not(:first-child) {
      padding-inline: 8px;
    }
  }
  .ag-picker-field-icon {
    .ag-icon {
      background-image: url("../../../SVG/down-grey.svg");
      font-size: 0;
      width: 8px;
      height: 8px;
      background-repeat: no-repeat;
    }
  }

  .ag-filter {
    .ag-filter-body-wrapper {
      padding: 14px 10px;
      @include border-radius(5px);

      .ag-filter-select {
        height: 40px;
        margin: 0;
      }
    }
  }

  .ag-standard-button {
    cursor: pointer;
    color: $themeDefaultPrimary2;
    @include border-radius(3px);
    @include theme-aware("background-color", "button-bg");

    &:hover {
      @include theme-aware("background-color", "btn-hover");
      @include theme-aware("color", "btn-hover-text");
    }
    &:disabled {
      @include theme-aware("background-color", "btn-disabled");
    }
  }

  .ag-paging-panel {
    display: none;
  }

  // &.defaultPaginate {
  //     .ag-paging-panel {
  //         display: flex;
  //     }
  // }

  .ag-icon {
    font-size: 0;
  }

  .ag-overlay-panel {
    width: 100%;
    .ag-overlay-wrapper {
      width: 100%;
      background-color: transparent;
      align-items: flex-start;

      .ag-react-container {
        width: 100%;
        padding-top: 51px;

        .page-loader-mainSpace {
          margin: 0;
        }
      }
    }
  }

  .ag-popup-child {
    z-index: 9;
  }

  .ag-body-viewport {
    padding-right: 10px;
  }

  &.selected-options {
    .ag-header {
      margin-bottom: 85px;
    }
  }
}

.account-status {
  display: inline-flex;
  align-items: center;
  font-weight: 600;

  span {
    display: inline-flex;
    vertical-align: middle;
  }

  .status-bg {
    display: inline-flex;
    @include circleAvater(8px, $radius: 50%);
    background-color: $themeSecondaryGrey12;
    box-shadow: 0 0 0 3px $themeSecondaryGrey11;
  }

  .status-text {
    margin-left: 13px;
  }

  &.status-activate {
    .status-bg {
      background-color: $themeGreen7;
      box-shadow: 0 0 0 3px $themeGreen6;
    }

    .status-text {
      color: $themeGreen7;
    }
  }
}

.friend-gender {
  justify-content: center;
  .friend-gender-ico {
    flex: 0 0 16px;
    text-align: center;
    // margin-right: 10px; COMMENTED OUT FOR DESIGN IN GENDER TD IN LISTING 2
    display: inline-flex;
    align-items: center;
    justify-content: center;

    // &.male {
    //   svg path {
    //     @include theme-aware("fill", "text-color");
    //   }
    // }
  }

  span {
    text-transform: capitalize;
  }
}

.friend-sync-source {
  color: #fff;
  .friend-source {
    flex: 0 0 0;
    display: inline-flex;
    vertical-align: middle;
    // text-align: center;
    // margin-right: 10px;
    // display: inline-flex;
    // align-items: start;
    // justify-content: start;
    svg {
      margin-right: 5px;
      width: 32px;

      *[fill]:not([fill="black"]) {
        fill: #fff;
      }
      *[stroke]:not([stroke="black"]) {
        stroke: #fff;
      }
    }
  }

  .friend-sync-source-icon {
    margin-right: 4px;
  }

  .friendSource {
    > span {
      line-height: normal;
    }
  }

  span {
    text-transform: capitalize;
    line-height: 1;
    white-space: nowrap;
  }
}

.friendship-cell {
  font-size: 14px;
  text-align: center;
  display: flex;
  justify-content: center;
  //align-items: center;

  &.friend {
    color: #49ce56;
  }

  &.unfriended {
    color: #767485;
  }

  &.lost {
    color: #ff6a77;
  }

  &.non-friend {
    color: #f7d479;
  }
}

.sync-date {
  .sync-ico {
    margin-right: 10px;
    display: inline-flex;
    align-items: center;
  }
  .sync-dt {
    margin-right: 28px;
  }
  .sync-tm {
    margin-right: 28px;
  }
}
.sync-email {
  .sync-ico {
    margin-right: 10px;
    display: inline-flex;
    align-items: center;
  }
  .sync-txt {
    margin-right: 28px;
  }
}
.sync-box-wrap {
  display: inline-flex;
  margin: 3px;
  padding: 5px 16px 5px 16px;
  @include theme-aware("background", "settings-background");
  border: 1px solid #313037;
  border-radius: 22.5px;
  &.matched_key {
    border: 1px solid #4caf50;
    animation: glow 1s ease-in-out infinite;
  }

  &.green {
    background: rgba(73, 206, 86, 0.1);
    border: none;
    .sync-txt {
      color: #3a974c;
    }
  }
  &.yellow {
    background: rgba(255, 184, 0, 0.1);
    border: none;
    .sync-txt {
      color: #ff9900;
    }
  }
  &.key-box-wrap {
    cursor: pointer;
  }
}

.table-footer {
  width: calc(100% - 20px);
  margin-block: 40px 10px;
  flex: 0 0 30px;

  .select-page {
    margin-left: auto;

    select {
      background: transparent;
      border: none;
      padding-right: 12px;
      font-weight: 600;
      font-size: 15px;
      line-height: 16px;
      cursor: pointer;
      background-image: url("../../../SVG/down-grey.svg");
      @include theme-aware("color", "items-per-page-color");
      background-repeat: no-repeat;
      background-position: right 3px center;
      -moz-appearance: none;
      -webkit-appearance: none;
    }
  }

  &:before {
    content: "";
    height: 1px;
    @include theme-aware("background", "general-border");
    width: 100%;
    position: absolute;
    left: 0;
    margin-top: -50px;
  }
}

.name-image-renderer {
  display: flex;
  align-items: center;
  width: 100%;
  white-space: nowrap;
  //overflow: hidden;
  text-overflow: ellipsis;

  .fb-friend-request-warning {
    margin-inline-start: 8px;
    cursor: pointer;
    display: inline-flex;

    * {
      pointer-events: none;
    }
  }

  @include theme-aware("color", "text-color");
  a {
    // display: flex;
    // align-items: center;
    // width: 100%;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    @include theme-aware("color", "text-color");
  }
  .fb-display-pic {
    width: 36px;
    flex: 0 0 36px;
    aspect-ratio: 1;
    display: inline-flex;
    vertical-align: middle;
    border-radius: 50%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("../../../images/profilePhoto.png");
    margin-right: 14px;
  }
  .fb-name {
    max-width: 105px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
  }

  .profile-whitelabeled {
    margin-left: 9px;
    display: inline-flex;
    line-height: 1;
    cursor: pointer;
  }
  .ico-open-link {
    margin-left: 5px;
    flex: 0 0 14px;

    svg {
      *[fill] {
        @include theme-aware("fill", "link-text-color");
      }
      *[stroke] {
        @include theme-aware("stroke", "link-text-color");
      }
    }
  }

  .placeholder-name {
    margin-left: 8px;
  }
}
.ico-open-link {
  line-height: 1;
  font-size: 0;
  display: inline-flex;
  align-items: center;
}
.ag-cell-wrapper {
  max-width: 100%;
  //overflow: hidden;
  //text-overflow: ellipsis;
  width: 100%;
}
.selection-popup {
  background-color: $themeBackground;
  border: 2px solid;
  border-color: $themeDefaultPrimary1;
  @include border-radius(10px);
  height: 80px;
  flex: 0 0 80px;
  // position: absolute;
  // top: 51px;
  // width: 96%;
  margin-block: 30px 15px;
  z-index: 9;
  left: 0;
  right: 0;
  // margin: 0 auto;

  p {
    @include theme-aware("color", "text-para-color");

    span {
      @include theme-aware("color", "text-color");
      margin-left: 5px;
    }
  }

  .fr-custom-check {
    margin-inline-start: 10px;
  }
}

.theme-default {
  input[type="date" i]::-webkit-calendar-picker-indicator {
    background-image: url("../../../SVG/calendar-blue.svg");
  }
}

// Plugin Filter

.ag-picker-field-wrapper {
  border: 1px solid $themeDefaultPrimary3 !important;
  padding: 0 6px;
  color: $themeDefaultPrimary3;
}

@keyframes glow {
  0% {
    box-shadow: 0 0 0 0 #27ea4e;
  }

  50% {
    box-shadow: 0 0 10px 0 #27ea4e;
  }
}

.ag-tooltip {
  min-width: 150px;
  height: auto;
  max-width: 330px;
  color: #ffffff;
  padding: 8px 10px;
  background: #313037 !important;
  border-radius: 2px;
  //text-align: center;
  z-index: 999 !important;
  transform: translate(-50%, 0);
  &::after {
    content: "";
    position: absolute;
    transform-origin: 50% 50%;
    background: transparent !important;
    z-index: 0 !important;
    width: 0;
    height: 0;
    // border-top: 22px solid transparent;
    border-left: 22px solid transparent;
    border-right: 22px solid transparent;
    border-bottom: 22px solid #313037;
    @include theme-aware("background-color", "tooltip-bg");
    @include border-radius(2px);
    left: 46%;
    top: -10px;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    // rotate: 45deg;
  }
}

.ag-tooltip {
  &.ag-ltr {
    &.ag-popup-child {
      &::after {
        content: none;
      }
    }
  }
}

//  .ag-popup {
//   background-color: #FF0000 !important; /* Replace with your desired background color */
// }

.ag-theme-fr-table {
  .ag-row {
  }
}

#grid-wrapper,
#grid-wrapper-campaign {
  .tier-icon {
    width: 33px;
    margin-right: 9px;
    padding-right: 0;
    vertical-align: middle;
  }

  .country-name {
    text-transform: capitalize;
    font-size: $smallFontSize;
    font-weight: $smallFontWeight;
    padding-right: 0;
    vertical-align: middle;
  }
}

/*
* ============= MUI REACT TABLE CUSTOMISATIONS ===============
* =============  MUI TABLE CONTAINER AND COMMONS =============
*/
.react-table-container {
  /* height: 100%; */
  // overflow: hidden;
  // height: 100vh;
  // max-height: 88%;

  .MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded {
    height: 100%;
    background-color: transparent;
  }

  tbody {
    tr {
      &:hover,
      &:has(:hover) {
        z-index: 9;
      }
      &:first-child {
        td {
          &:hover,
          &:has(:hover) {
            z-index: 9;
          }
          .tooltipFullName {
            &:before {
              bottom: auto;
              top: 32px;
            }
            &:after {
              top: 25px;
              bottom: auto;
            }
          }
          &:not(:hover) {
            z-index: 2;
          }
        }
      }

      td {
        .syn-tag-count {
          display: inline-flex;
          align-items: center;
          justify-content: center;
          border-radius: 100%;
          flex: 0 0 26px;
          aspect-ratio: 1;
          border: 1px solid $themeGreen4;
          color: $themeGreen4;
          background-color: rgba($themeGreen4, 0.1);
        }
      }

      &:has(.fb-friend-request-warning) {
        td {
          background-color: transparentize($themeRed1, 0.83) !important;

          &:first-child {
            &:before {
              top: 0;
              position: absolute;
              content: "";
              left: 0;
              height: 100%;
              height: 100%;
              width: 4px;
              background: $themeRed1;
            }
          }
        }
      }
    }
  }

  &:has(.no-data-found) {
    table {
      height: 100%;
      overflow: hidden;

      td:has(> .no-data-found) {
        background-color: transparent !important;

        .no-data-found {
          height: auto;
          min-height: 321px;
        }
      }
    }
  }
}

.mui-table-container {
  // max-height: 82vh !important;
  margin-bottom: 30px;
  flex: 1 1 auto;
}

// HEADERS SORTING ICONS
.css-1yqocqp-MuiTableCell-root .MuiSvgIcon-root:first-child {
  color: white !important;
}

// @media only screen and (max-height: 1000px) {
//   .mui-table-container {
//     max-height: 80vh !important;
//   }
// }

// @media only screen and (max-height: 900px) {
//   .mui-table-container {
//     max-height: 78vh !important;
//   }
// }

// @media only screen and (max-height: 800px) {
//   .mui-table-container {
//     max-height: 75vh !important;
//   }
// }

// @media only screen and (max-height: 700px) {
//   .mui-table-container {
//     max-height: 70vh !important;
//   }
// }

/*
* =============  MUI TABLE FILTER BLOCK MODAL =============
*/
.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation8.MuiPopover-paper {
  .MuiBox-root {
    background-color: #131314;
    border-radius: 5px;
    border-color: white;

    div {
      color: white;

      button {
        color: gray;
      }

      button:after {
        color: white;
      }
    }

    p {
      color: lightgray;
      margin-top: 5px;
    }

    .css-953pxc-MuiInputBase-root-MuiInput-root::before {
      border: 1px solid gray;
      padding-top: 5px;
      border-radius: 5px;
      top: 0;
    }

    .css-953pxc-MuiInputBase-root-MuiInput-root::after {
      border: none;
    }
  }
}

.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded {
  color: white;
  background-color: #131314;
  display: flex;
  flex-direction: column;

  .MuiListItemIcon-root.css-cveggr-MuiListItemIcon-root {
    color: white;
  }
}

/*
* =============  MUI TABLE HEADER STYLES =============
*/
.mui-table-head {
  // th {
  //   min-width: 50px;
  // }

  // Name Heading..
  // th[data-index="1"] {
  //   width: 248px;
  // }
  th {
    &:not(.message_group_request_sent-header-class):not(.message_group_request_accepted-header-class) {
      min-width: 1px;
    }

    &.friendName-header-class {
      &:not(:first-child) {
        padding-left: 0;
        width: 248px;
      }
    }
    &.friendGender-header-class,
    &.gender-header-class {
      width: 80px;
    }
    &.age-header-class {
      width: 110px;
    }
    &.reactionThread-header-class,
    &.commentThread-header-class,
    &.total_engagement-header-class {
      width: 75px;
    }
    &.friendship-header-class {
      width: 133px;
    }
    // &.country-header-class {
    //   width: 119px;
    // }
    &.message_thread-header-class {
      width: 81px;
    }
    &.message_thread-header-class {
      width: 81px;
    }
    &.matchedKeyword-header-class {
      width: 176px;
    }
    &.source-header-class {
      width: inherit;
      min-width: 220px;
    }

    /* Tooltip container */
    .fr-ls-tooltip {
      position: relative;
      display: inline-block;
      cursor: pointer;

      .tooltiptext,
      .header-tooltip-content {
        visibility: hidden;
        // width: 120px;
        color: #fff;
        text-align: center;
        position: absolute;
        top: 100%;
        left: 50%;
        margin-block-start: 15px;
        transform: translateX(-50%);
        opacity: 0;
        transition: opacity 0.3s;
        min-width: 150px;
        height: auto;
        max-width: 330px;
        padding: 8px 10px;
        background: #313037 !important;
        border-radius: 2px;
        //text-align: center;
        z-index: 999 !important;
        font-size: 12px;
      }

      .tooltiptext {
        max-width: 169px;
        line-height: 18px;
        white-space: normal;
        font-size: 12px;
        font-weight: 400;
      }

      .tooltiptext::after {
        width: 22px;
        height: 31px;
        background-color: #313037;
        border-radius: 2px;
        content: "";
        position: absolute;
        transform-origin: 50% 50%;
        top: 0%;
        left: 45%;
        margin-bottom: -30px;
        z-index: -1;
        rotate: 45deg;
        transform: translate(-10px, 0px);
      }

      .header-tooltip-content {
        right: 0;
        left: auto;
        transform: translateX(30%);
      }

      .header-tooltip-content::after {
        width: 22px;
        height: 31px;
        background-color: #313037;
        border-radius: 2px;
        content: "";
        position: absolute;
        transform-origin: 50% 50%;
        top: 0%;
        left: 45%;
        margin-bottom: -30px;
        z-index: -1;
        rotate: 45deg;
        transform: translate(-10px, 0px);
      }

      ul {
        text-align: left;
        li {
          font-size: 14px;
          line-height: 19px;
          color: #ffffff;
          padding-bottom: 10px;
          display: flex;
          align-content: center;
          flex-wrap: wrap;
          span:not(.tier-icon):not(.country-name) {
            margin-inline-end: 10px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            // flex: 0 0 30px;

            svg {
              width: 28px;

              // *[fill] {
              //   fill: #fff;
              // }
              // *[stroke] {
              //   stroke: #fff;
              // }
            }
          }
          span {
            &.tier-icon,
            &.country-name {
              display: inline-flex;
              vertical-align: middle;
              line-height: 1;
            }
            &.tier-icon {
              width: 24px;
              margin-inline-end: 10px;
            }
          }

          &:last-child {
            padding-bottom: 0;
          }
        }
        &.muted {
          li {
            color: #bdbdbd;
          }
        }

        &:not(.country-tier) {
          li {
            span {
              svg {
                *[fill] {
                  fill: #fff;
                }
                *[stroke] {
                  stroke: #fff;
                }
              }
            }

            &:nth-child(2) {
              padding-block-end: 13px;
              margin-block-end: 12px;
              border-bottom: 1px solid;
              @include theme-aware("border-bottom-color", "link-text-color");
            }
          }
        }
      }
    }

    &:hover {
      .tooltiptext,
      .header-tooltip-content {
        visibility: visible;
        opacity: 1;
      }
    }
  }

  // Gender, Age, Reaction, Comment, Engagement, Message Count, Recent Eng. , Keyword, Source Colum
  // th[data-index="2"],
  // th[data-index="3"],
  // th[data-index="5"],
  // th[data-index="6"],
  // th[data-index="7"],
  // th[data-index="8"],
  // th[data-index="9"] {
  //   width: 150px;
  // }

  // country Column
  th[data-index="4"] {
    width: 200px;
  }

  .mui-table-head-cell {
    // Heading Icons..
    .MuiTableSortLabel-icon {
      color: #ffffff !important;
    }

    &.has-no-contacts {
      opacity: 0.2;
      pointer-events: none;
    }
  }

  .Mui-TableHeadCell-Content-Labels {
    display: inline-flex;
    align-items: center;
    overflow: visible;

    .Mui-TableHeadCell-Content-Wrapper {
      order: 2;
      overflow: visible;
    }
    .Mui-TableHeadCell-Content-Wrapper + * {
      order: 1;
      margin-right: 5px;
      button {
        margin-left: 0;
      }
    }
    > *:last-child {
      &:not(.Mui-checked) {
        order: 3;

        svg {
          &:not(input ~ svg) {
            color: #fff !important;
            // color: #605BFF !important;

            // MuiSvgIcon-root MuiSvgIcon-fontSizeMedium MuiTableSortLabel-icon MuiTableSortLabel-iconDirectionAsc css-1vweko9-MuiSvgIcon-root-MuiTableSortLabel-icon
            // MuiSvgIcon-root MuiSvgIcon-fontSizeMedium MuiTableSortLabel-icon MuiTableSortLabel-iconDirectionDesc css-3l415a-MuiSvgIcon-root-MuiTableSortLabel-icon
            // MuiSvgIcon-root MuiSvgIcon-fontSizeMedium MuiTableSortLabel-icon MuiTableSortLabel-iconDirectionAsc css-1vweko9-MuiSvgIcon-root-MuiTableSortLabel-icon

            &.MuiTableSortLabel-iconDirectionAsc:not([style="transform: rotate(-90deg) scaleX(0.9) translateX(-1px);"]),
            &.MuiTableSortLabel-iconDirectionDesc {
              color: $themeDefaultPrimary1 !important;
            }
          }
        }
      }
    }

    // > *:first-child {
    //   &:not(.Mui-checked) {
    //     order: 3;

    //     svg {
    //       &:not(input~svg) {
    //         color: red !important;
    //         // color: #605BFF !important;

    //         // MuiSvgIcon-root MuiSvgIcon-fontSizeMedium MuiTableSortLabel-icon MuiTableSortLabel-iconDirectionAsc css-1vweko9-MuiSvgIcon-root-MuiTableSortLabel-icon
    //         // MuiSvgIcon-root MuiSvgIcon-fontSizeMedium MuiTableSortLabel-icon MuiTableSortLabel-iconDirectionDesc css-3l415a-MuiSvgIcon-root-MuiTableSortLabel-icon
    //         // MuiSvgIcon-root MuiSvgIcon-fontSizeMedium MuiTableSortLabel-icon MuiTableSortLabel-iconDirectionAsc css-1vweko9-MuiSvgIcon-root-MuiTableSortLabel-icon

    //         &.MuiTableSortLabel-iconDirectionAsc:not([style="transform: rotate(-90deg) scaleX(0.9) translateX(-1px);"]),
    //         &.MuiTableSortLabel-iconDirectionDesc {
    //           color: $themeDefaultPrimary1 !important;
    //         }
    //       }
    //     }
    //   }
    // }
    button.css-c4p7ds-MuiButtonBase-root-MuiIconButton-root {
      svg.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium[data-testid="FilterAltIcon"] {
        color: #0094ff;
      }

    }

    button {
      svg.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium[data-testid="FilterAltIcon"] {
        color: #fff;
        // &:active {
        //   color: #0094ff;
        // }
      }
    }
  }
}

/*
* =============  MUI TABLE BODY STYLES =============
*/
.mui-table-body {
  // Name Body Cell..
  td {
    // min-width: 40px;
    // width: inherit;
    overflow: visible;

    &:first-child {
      width: 40px !important;
    }
    &.friendName-cell-class {
      width: 248px;

      &:not(:first-child) {
        padding-left: 0;
      }
    }
    &.friendGender-cell-class,
    &.gender-cell-class {
      width: 80px;
    }
    &.age-cell-class {
      width: 110px;
      overflow: visible;
    }
    &.reactionThread-cell-class,
    &.commentThread-cell-class,
    &.total_engagement-cell-class {
      width: 75px;
    }
    &.friendship-cell-class {
      width: 133px;
    }
    &.country-cell-class {
      .inline-icon {
        margin-right: 9px;
        padding-right: 0;
        vertical-align: middle;
        width: 33px;
      }
      .country-name {
        white-space: nowrap;
      }
    }
    &.message_thread-cell-class {
      width: 81px;
    }
    &.message_thread-cell-class {
      width: 81px;
    }
    &.matchedKeyword-cell-class {
      width: 176px;
      overflow: visible;

      .sync-box-wrap {
        background-color: #0000;
        border: none;
        border-radius: 0;
        margin: 0;
        padding: 0;

        .tags {
          white-space: nowrap;
        }
      }
    }
    &.source-cell-class {
      width: inherit;
      min-width: 220px;
    }
  }
  // td[data-index="1"] {
  //   width: 250px;
  // }

  // Gender, Age, Reaction, Comment, Engagement, Message Count, Recent Eng. , Keyword, Source Colum
  // td[data-index="2"],
  // td[data-index="3"],
  // td[data-index="5"],
  // td[data-index="6"],
  // td[data-index="7"],
  // td[data-index="8"],
  // td[data-index="9"] {
  //   width: 150px;
  // }

  // country Column
  // td[data-index="4"] {
  //   width: 200px;
  // }

  // .tooltipFullName:before,
  // .tooltipFullName:after {
  //   display: none;
  // }
}

.pending-list {
  .react-table-container {
    // td,
    // th {
    //   &:first-child {
    //     width: auto !important;
    //     max-width: inherit !important;
    //     min-width: 430px !important;
    //   }
    // }
    th.gender-header-class,
    td.gender-cell-class {
      width: 80px !important;
    }
    th.age-header-class,
    td.age-cell-class {
      width: 120px !important;
    }
    th.matchedKeyword-header-class,
    td.matchedKeyword-cell-class {
      min-width: 300px !important;
    }
    th.source-header-class,
    td.source-cell-class {
      min-width: 300px !important;
    }
  }

  table {
    table-layout: fixed;
  }
}

/*
* =============  MUI TABLE FOOTER STYLES =============
*/
.mui-table-footer {
  // position: fixed !important;
  bottom: 0;
  // left: 0;
  // width: calc(100% - 20px);
  width: calc(100% - 0px);
  padding: 10px 0;
  margin-block: 0 40px;
  // flex: 0 0 30px;
  // height: 50px;
  border-top: 1px solid #313037;
  min-height: 1px !important;
  height: inherit;
  flex: 0 0 50px;
  padding: 0;

  .MuiBox-root .MuiBox-root {
    padding: 0;
    position: static;
  }

  nav {
    margin-left: 0 !important;
  }

  // .MuiBox-root.css-1llu0od {
  //     bottom: 18px;
  // }

  // .MuiInputBase-root.MuiInput-root.MuiInputBase-colorPrimary.css-1mmm5cp-MuiInputBase-root-MuiInput-root-MuiSelect-root,
  // .MuiBox-root.css-exd1zr.mui-footer-rows-per-page-input,
  // .mui-footer-rows-per-page-input {
  //     // margin-left: 20rem;
  //     position: fixed;
  //     right: 5rem;
  // }

  // NAV FOR PAGINATION
  nav {
    margin-left: 8rem;

    ul {
      li:first-child {
        display: none;
      }

      li:last-child {
        display: none;
      }

      li {
        button:hover,
        .Mui-selected:hover {
          background-color: #131314;
          color: white;
        }
      }
    }
  }

  position: static !important;
  margin-block-end: 0;
}

// .css-sui33z-MuiTableCell-root{
//   border-bottom: none !important;
// }

//

.friendGender-header-class,
.gender-header-class {
  .Mui-TableHeadCell-Content-Wrapper {
    background-image: url("../../../images/gender-icon.svg");
    background-size: contain;
    background-repeat: no-repeat;
    font-size: 0;
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    height: 16px;
  }
}
.reactionThread-header-class {
  .Mui-TableHeadCell-Content-Wrapper {
    background-image: url("../../../images/reaction-icon.svg");
    background-size: contain;
    background-repeat: no-repeat;
    font-size: 0;
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    height: 16px;
  }
}
.commentThread-header-class {
  .Mui-TableHeadCell-Content-Wrapper {
    background-image: url("../../../images/comments-icon.svg");
    background-size: contain;
    background-repeat: no-repeat;
    font-size: 0;
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    height: 16px;
  }
}
.message_thread-header-class {
  .Mui-TableHeadCell-Content-Wrapper {
    background-image: url("../../../images/messages-icon.svg");
    background-size: contain;
    background-repeat: no-repeat;
    font-size: 0;
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    height: 16px;
  }
}
.total_engagement-header-class {
  .Mui-TableHeadCell-Content-Wrapper {
    background-image: url("../../../images/engagement-icon.svg");
    background-size: contain;
    background-repeat: no-repeat;
    font-size: 0;
    display: inline-block;
    vertical-align: middle;
    width: 12px;
    height: 16px;
  }
}
.last_engagement_date-header-class {
  .Mui-TableHeadCell-Content-Wrapper {
    background-image: url("../../../images/recent-engagement-icon.svg");
    background-size: 16px auto;
    background-repeat: no-repeat;
    font-size: 0;
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    height: 16px;
  }
}

.MuiTableRow-root {
  box-sizing: border-box;
  line-height: 1;
  td {
    padding-block: 5px;
    box-sizing: border-box;
    line-height: 1;
    transition: background 0.3s ease-in-out;
  }
  &:hover {
    td {
      background-color: $themeDefaultSecondary2 !important;
    }
  }
}

.MuiPagination-ul {
  button {
    &.MuiPaginationItem-page {
      &:hover {
        @include theme-aware("color", "text-color");
        @include theme-aware("background-color", "message-add-btn-hover-back");
      }
    }
  }
}

.MuiModal-root {
  li {
    .MuiSvgIcon-root {
      color: #fff;
    }

    &.Mui-selected {
      .MuiSvgIcon-root {
        color: $themeDefaultPrimary1;
      }
    }
  }
}

.MuiList-root {
  .MuiMenuItem-root {
    height: 40px;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.12px;

    svg {
      fill: #767485;
    }

    &.Mui-selected {
      svg {
        fill: $themeDefaultPrimary1;
        color: $themeDefaultPrimary1;
      }
    }

    // &:nth-child(2) {
    //   color: #49CE56;
    // }
    // &:nth-child(3) {
    //   color: #F7D479;
    // }
    // &:nth-child(4) {
    //   color: #767485;
    // }
    // &:nth-child(5) {
    //   color: #FF6A77;
    // }
  }
}

.MuiPopover-root.MuiModal-root:has(.fr-filter-friendship)
  .MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation8.MuiPopover-paper {
  // left: 45.8dvw !important;
  // left: 33.8% !important;
  // top: 15px !important;
}

.MuiPopover-root.MuiModal-root:has(.fr-filter-friendship) ~ .MuiPopover-root {
  &.MuiModal-root {
    &:not(:has(.fr-filter-friendship)) {
      .MuiPaper-root {
        &.MuiPaper-elevation {
          &.MuiPaper-rounded {
            &.MuiPaper-elevation8 {
              &.MuiPopover-paper {
                // left: 47dvw !important;
                left: 34.5% !important;
                top: 90px !important;
              }
            }
          }
        }
      }
    }
  }
}

.mui-table-footer:has(nav) .MuiTablePagination-root > *:first-child .MuiInputBase-root.MuiInput-root {
  display: none;
}
.mui-table-footer:has(nav li:nth-child(3)) .MuiTablePagination-root > *:first-child .MuiInputBase-root.MuiInput-root {
  display: block;
}

.fr-filter-gender > .MuiInputBase-root.MuiInput-root,
.fr-filter-friendship > .MuiInputBase-root.MuiInput-root {
  padding-left: 15px;

  .MuiInputAdornment-root {
    margin-right: 0;
  }
}

.react-table-container.is-loading {
  max-width: 100% !important;
  width: 100% !important;
  > .MuiPaper-root {
    max-width: 100% !important;
    width: 100% !important;
    > .MuiTableContainer-root {
      max-width: 100% !important;
      width: 100% !important;
      table {
        max-width: 100% !important;
        width: 100% !important;
        table-layout: fixed !important;

        td,
        th {
          &:not(:first-child) {
            width: calc((100% - 60px) / 12);
          }
        }
      }
    }
  }
}

#menu- {
  &:has(.MuiMenuItem-root .MuiCheckbox-root) {
    .MuiMenu-list {
      border-radius: 10px;
      border: 1px solid #313037;
      background: #131314;

      li {
        gap: 0;

        &:not(:first-child) {
          -webkit-box-orient: horizontal;
          -webkit-box-direction: reverse;
          -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
          -webkit-box-pack: end;
          -ms-flex-pack: end;
          justify-content: flex-end;

          &:before {
            margin-right: 5px;
            width: 16px;
            aspect-ratio: 1 / 1;
            -webkit-box-ordinal-group: 2;
            -ms-flex-order: 1;
            order: 1;
            margin-right: 5px;
            margin-left: 10px;
          }

          .MuiCheckbox-root {
            -webkit-box-ordinal-group: 2;
            -ms-flex-order: 1;
            order: 1;
            margin: 0;
          }
        }
        &:first-child {
          display: none;
        }
        &:nth-child(2) {
          color: #49ce56;
          &:before {
            content: url('data:image/svg+xml;utf8,<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M14.6688 8L12.0021 10.6667L10.6688 9.33333M2 14.001C2 12.5283 4.08934 11.3344 6.66667 11.3344C9.244 11.3344 11.3333 12.5283 11.3333 14.001M9.99792 5.33333C9.99792 7.17428 8.50553 8.66667 6.66458 8.66667C4.82363 8.66667 3.33125 7.17428 3.33125 5.33333C3.33125 3.49238 4.82363 2 6.66458 2C8.50553 2 9.99792 3.49238 9.99792 5.33333Z" stroke="%2349CE56" stroke-width="1.4" stroke-linecap="round" stroke-linejoin="round"/></svg>');
          }
        }
        &:nth-child(5) {
          color: #f7d479;
          &:before {
            content: url('data:image/svg+xml;utf8,<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M3.30078 14.001C3.30078 12.5283 5.39012 11.3344 7.96745 11.3344C10.5448 11.3344 12.6341 12.5283 12.6341 14.001M11.2987 5.33333C11.2987 7.17428 9.80631 8.66667 7.96536 8.66667C6.12442 8.66667 4.63203 7.17428 4.63203 5.33333C4.63203 3.49238 6.12442 2 7.96536 2C9.80631 2 11.2987 3.49238 11.2987 5.33333Z" stroke="%23F7D479" stroke-width="1.4" stroke-linecap="round" stroke-linejoin="round"/></svg>');
          }
        }
        &:nth-child(3) {
          color: #767485;
          &:before {
            content: url('data:image/svg+xml;utf8,<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M11.3313 10.6666L13.9979 8M11.3313 8L13.9979 10.6666M2 14.001C2 12.5283 4.08934 11.3344 6.66667 11.3344C9.244 11.3344 11.3333 12.5283 11.3333 14.001M9.99792 5.33333C9.99792 7.17428 8.50553 8.66667 6.66458 8.66667C4.82363 8.66667 3.33125 7.17428 3.33125 5.33333C3.33125 3.49238 4.82363 2 6.66458 2C8.50553 2 9.99792 3.49238 9.99792 5.33333Z" stroke="%23767485" stroke-width="1.4" stroke-linecap="round" stroke-linejoin="round"/></svg>');
          }
        }
        &:nth-child(4) {
          color: #ff6a77;
          &:before {
            content: url('data:image/svg+xml;utf8,<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M3.30078 14.001C3.30078 12.5283 5.39012 11.3344 7.96745 11.3344C10.5448 11.3344 12.6341 12.5283 12.6341 14.001M11.2987 5.33333C11.2987 7.17428 9.80631 8.66667 7.96536 8.66667C6.12442 8.66667 4.63203 7.17428 4.63203 5.33333C4.63203 3.49238 6.12442 2 7.96536 2C9.80631 2 11.2987 3.49238 11.2987 5.33333Z" stroke="%23FF6A77" stroke-width="1.4" stroke-linecap="round" stroke-linejoin="round"/></svg>');
          }
        }
      }

      li:not(:first-child) + li {
        margin-top: 3px;
      }
    }
  }
}
