@use '../../../../assets/scss/abstract/mixins' as *;
@use "../../../../assets/scss//abstract/color" as *;

.page-loader {
    position: fixed;
    inset: 0;
    padding: 30px;
    @include theme-aware('background-color', 'loader-bg');
    z-index: 99999;

    .page-loader-top {
        flex: 1 1 auto;

        .page-loader-menu {
            flex: 0 0 80px;
            @include theme-aware('background', 'loader-component-bg');
            padding: 20px 25px;
            box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.08);
            @include border-radius(10px);

            &.open {
                flex: 0 0 300px;
                max-width: 300px;
            }

            &.closed {
                flex: 0 0 80px;
                max-width: 80px;
            }

            ul {
                margin: 0;
                width: 100%;

                li {
                    height: 30px;
                    width: 100%;
                    
                    position: relative;
                    @include border-radius(3px);

                    &:not(:last-child):after {
                        content: '';
                        position: absolute;
                        bottom: 0;
                        margin-bottom: -16px;
                        width: 100%;
                        height: 1px;
                    }
                }

                li + li {
                    margin-top: 34px
                }
            }

            footer {
                margin-top: auto;
                height: 40px;
                @include border-radius(3px);
            }
        }

        .page-loader-body {
            flex: 1 1 auto;
            margin-left: 50px;

            .page-loader-header {
                flex: 0 0 80px;
                padding: 15px 30px;
                @include border-radius(10px);
                @include theme-aware('background', 'loader-component-bg');
                box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.08);

                .page-loader-title {
                    flex: 0 0 500px;

                    * {
                        @include border-radius(3px);
                    }

                    h1 {
                        height: 27px;
                    }
                    p {
                        height: 14px;
                        margin-top: 9px;
                    }
                }

                .page-loader-options {
                    .page-header-options {
                        width: 140px;
                        @include border-radius(5px);
                        margin-left: 10px;
                        height: 40px;

                        &.smaller {
                            width: 40px;
                        }
                    }
                }
            }
            
        }
    }

    .page-loader-bottom {
        flex: 0 0 40px;
        margin-top: 10px; 
        @include border-radius(5px);
    }
}

.page-loader-mainSpace {
    flex: 1 1 auto;
    margin-top: 26px;
    width: 100%;

    * {
        width: 100%;
    }

    .page-loader-tableHeader {
        margin-bottom: 16px;

        span {
            display: inline-block;
            height: 24px;
            
            @include border-radius(5px);

            &:nth-child(1) {
                width: (random(81) + 24)+px
            }
            &:nth-child(2) {
                width: (random(81) + 24)+px
            }
            &:nth-child(3) {
                width: (random(81) + 24)+px
            }
            &:nth-child(4) {
                width: (random(81) + 24)+px
            }
            &:nth-child(5) {
                width: (random(81) + 24)+px
            }
            &:nth-child(6) {
                width: (random(81) + 24)+px
            }
            &:nth-child(7) {
                width: (random(81) + 24)+px
            }
            &:nth-child(8) {
                width: (random(81) + 24)+px
            }
            &:nth-child(9) {
                width: (random(81) + 24)+px
            }
        }
    }

    .page-loader-tableBody {
        margin-bottom: 20px;
        .page-loader-row {
            @include border-radius(3px);
            height: 50px;
            
        }

        .page-loader-row + .page-loader-row {
            margin-top: 5px;
        }
    }

    .page-loader-pagination {
        margin-top: auto;
        margin-bottom: 26px;
        position: relative;

        * {
            height: 30px;
            @include border-radius(5px);
        }

        .page-loader-numbers {
            width: 300px;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }
        .page-loader-pageSet {
            flex: 0 0 100px;
            margin-left: auto;
        }
    }
    &.settings-loader {
      //background: #BDBDBD;
      @include theme-aware('background-color', 'listing-cell-bg');
      height: 100%;
      padding: 30px 50px;
      margin-top: 0;
      border-radius: 10px;
      .page-loader-tableHeader {
        flex-direction: column;
        .skeleton-loader {
          width: 100%;
          margin-bottom: 20px;
          &.closed-settings {
            height: 35px;
          }
          &.opened-settings {
            height: 114px;
          }
        }
      }
    }
}

.skeleton-loader {
    width: 100%;
    display: block;
    background-repeat: repeat-y;
    background-size: 50px 500px;
    background-position: 0 0;
    animation: shine 2.5s ease-in-out infinite;
  }

  .theme-light .skeleton-loader {
      width: 100%;
      display: block;
      background-repeat: repeat-y;
      background-size: 50px 500px;
      background-position: 0 0;
      animation: shineLight 2.5s ease-in-out infinite;
    }

  @keyframes shine {
    0% {
        background: rgb(211, 211, 211, 0.2);
    }
    50% {
        background: rgb(211, 211, 211, 0.25);
    }
    100% {
        background: rgb(211, 211, 211, 0.2);
    }
  }

  @keyframes shineLight {
    0% {
        background: rgb(211, 211, 211, 0.4);
    }
    50% {
        background: rgb(211, 211, 211, 0.7);
    }
    100% {
        background: rgb(211, 211, 211, 0.4);
    }
  }