@use "../../abstract/mixins" as *;
@use "../../abstract/color-themes" as *;

.pagination {
    display: flex;
    align-items: center;
    position: relative;
    left: 50%;
    transform: translateX(-50%);

    .page-item {
        .page-link {
            width: 30px;
            aspect-ratio: 1 / 1;
            padding-inline: 2px;
            border-radius: 100%;
            cursor: pointer;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            color: #8998B8;

            &:hover {
                @include theme-aware('background-color', 'dark-light-border');
                @include theme-aware('color', 'text-color');
            }
        }

        &:first-child {
            margin-right: 13px;
            background-color: transparent !important;
            padding-inline: 0;

            .page-link {
                background-image: url('../../../images/left-default.png');
                background-color: transparent;
                font-size: 0;
                background-repeat: no-repeat;
                background-position: center center;
                background-size: 10px auto;

                &:hover {
                    background-image: url('../../../images/left-hover.png');
                    @include theme-aware('background-color', 'pagination-arrow-hover');
                    background-repeat: no-repeat;
                    background-size: 10px auto;
                    transform: scaleX(-1);
                }
            }
        }

        &:last-child {
            margin-left: 13px;
            background-color: transparent !important;
            padding-inline: 0;
            
            .page-link {
                background-image: url('../../../images/right-default.png');
                background-color: transparent;
                font-size: 0;
                background-repeat: no-repeat;
                background-position: center center;
                background-size: 10px auto;
                transform: scaleX(-1);

                &:hover {
                    background-image: url('../../../images/right-hover.png');
                    @include theme-aware('background-color', 'pagination-arrow-hover');
                    background-repeat: no-repeat;
                    background-size: 10px auto;
                    transform: none;
                }
            }
        }

        &.active {
            .page-link {
                @include theme-aware('color', 'pagination-active-text');
                @include theme-aware('background-color', 'dark-light-border');
            }
        }

        &.disabled {
            .page-link {
                @include theme-aware('background-color', 'btn-disabled');
                @include theme-aware('color', 'disabled-text');
            }
        }
    }
}