@use "../../abstract/color"as *;
@use "../../abstract/font"as *;
@use "../../abstract/mixins"as *;


//my setting page start
.page-left-menu-nav {
    width: 290px;
    padding: 20px 0 20px 0;
    @include theme-aware('background-color', 'listing-cell-bg');

    li {
        
        width: 100%;
       

        a {
            padding: 10px 0 11px 20px;
            height: 40px;
        width: 100%;
        display: block;
            font: {
                weight: 600;
                size: 14px;

            }

            line-height: 19px;
            color: $themeDefaultPrimary2;
        }
    }
}

.darknav_active {
    background: linear-gradient(90deg, rgba(0, 148, 255, 0.1) 0.73%, rgba(0, 148, 255, 0) 100%);
    /* Dark/Primary/blue */

    border-left: 2px solid ;
    @include theme-aware('border-color', 'dark-light-border');

    a {
        color: $themeBlack5 !important;
    }
}

.main-mysetting {
    flex: 1 1 auto;
    overflow: hidden;
}

.setting-content {
    overflow: hidden;
    flex: 1 1 auto;
    margin-left: 30px;
    
}

.settings {
    width: 100%;
    height: 100%;
    padding: 30px;
    overflow: auto;

    .setting {
        width: 100%;
        min-height: 45px;
        margin-bottom: 5px;
        // color: $themeDefaultPrimary2;
        @include theme-aware('color', 'text-color');
        padding: 5px 20px 10px 20px;

        font: {
            weight: 400;
            size: 14px;
        }
        &.last-settings {
          margin-bottom: 15px;
        }

        .setting-child{
            // display:flex;
            // align-items: center;

            .setting-input{
                    @include ComInputBox($themeBlack3,92px,$themeBlack5,40px,$themeBlack5,$themeDefaultPrimary3);
                    margin:3px;
                    @include theme-aware('background-color', 'listing-cell-bg');
                    // color: $themeDefaultPrimary2;
                    @include theme-aware('color', 'text-color');
                    &:active,
                    &:focus,
                    &:focus-within,
                    &:hover,
                    &:visited,
                    &:focus-visible,
                    &:target {
                      border:1px solid $themeBlack5;
                      @include theme-aware('background-color', 'listing-cell-bg');
                    }
            }

        }     
        .first{

            // height: 59px;
        } 
        .others{
            // height: 59px;
            margin-left: 51.5px;
            margin-top: 9px;
        }

    }

    .setting-checked {
        //background: $listingPopupBg;
        @include theme-aware('background-color', 'listing-cell-bg');
        // min-height: 59px;
    }

}


//my setting page end