@use "../../abstract/mixins" as *;

.fr-tooltip {
  position: relative;
  font-size: 0;
  cursor: pointer;

  .fr-tooltip-content {
    @include border-radius(2px);
    padding: 14px 18px;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    position: absolute;
    font-size: 12px;
    line-height: 150%;
    text-align: center;
    z-index: 99;
    margin-inline: auto;
    //white-space: nowrap;
    white-space: pre-wrap;
    max-width: 197px;
    min-width: 150px;
    -webkit-filter: drop-shadow(0px 2px 20px rgba(0, 0, 0, 0.2));
    filter: drop-shadow(0px 2px 20px rgba(0, 0, 0, 0.2));
    transition: all cubic-bezier(0.87, 0.13, 0.25, 1) 0.3s;

    &::after { 
      content: "";
      position: absolute;
      transform-origin: 50% 50%;
    }
  }

  .fr-tooltip-icon:hover ~ .fr-tooltip-content {
    opacity: 1;
    visibility: visible;
  }

  &.fr-tooltip-query,
  &.fr-tooltip-info {
    .fr-tooltip-content {
      @include theme-aware("background-color", "tooltip-bg");
      @include theme-aware("color", "tooltip-text");

      &::after {
        width: 22px;
        height: 31px;
        @include theme-aware("background-color", "tooltip-bg");
        @include border-radius(2px);
      }
    }
  }

  &.fr-tooltip-bottom {
    .fr-tooltip-content {
      top: 100%;
      margin-top: 17px;

      &::after {
        bottom: 100%;
        margin-bottom: -30px;
        z-index: -1;
      }
    }
  }

  &.fr-tooltip-top {
    .fr-tooltip-content {
      bottom: 100%;
      margin-bottom: 17px;
    }
  }

  &.fr-tooltip-bottom,
  &.fr-tooltip-top {
    .fr-tooltip-content {
      left: 50%;
      transform: translate(-50%);
      -webkit-transform: translate(-50%);
      -moz-transform: translate(-50%);
      -ms-transform: translate(-50%);
      -o-transform: translate(-50%);

      &::after {
        left: 46%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        rotate: 45deg;
      }
    }
  }

  &.fr-tooltip-left {
    .fr-tooltip-content {
      right: 100%;
      margin-right: 17px;
    }
  }

  &.fr-tooltip-right {
    .fr-tooltip-content {
      left: 100%;
      margin-left: 17px;
    }
  }

  &.fr-tooltip-left,
  &.fr-tooltip-right {
    .fr-tooltip-content {
      top: 50%;
      transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
    }
  }
}
// .ag-header-container {
//   //transform: translateX(0px);
// }
// .ag-pivot-off {
//   z-index: 9;
//   overflow: visible;
// }
// .ag-header-viewport {
//   overflow: visible;
// }
// .age-custom-header {
//   position: relative;
//   .fr-tooltip-content {
//     position: fixed;
//     // top: 0;
//     // left: 0;
//     // width: 100%;
//     // height: 100%;
//     z-index: 0;
//   }
// }


//tooltip pro style start

.fr-tooltipPro {
  margin-left: 8px;
  vertical-align: middle;
  display: inline-flex;
  align-items: center;
  position: relative;
  // font-size: 0;
  // margin: 3px;
  .fr-tooltipPro-icon {
    line-height: 0;
    cursor: pointer;
  }
  .fr-tooltipPro-content {
    @include border-radius(5px);
    padding: 14px 18px;
    // opacity: 0;
    // visibility: hidden;
    //pointer-events: none;
    position: absolute;
    left: 72px;
    font-size: 12px;
    line-height: 150%;
    z-index: 99;
    margin-inline: auto;
    max-height: 140px;
    //white-space: nowrap;
    white-space: pre-wrap;
    max-width: 250px;
    min-width: 216px;
    padding: 16px 20px;
    @include theme-aware('background', 'tooltip-background-message');

    .footer {
      width: 100%;
      display: flex;
      .btn-primary {
        padding: 5px 14px;
        gap: 14px;
        width: 58px;
        height: 26px;
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        margin-bottom: 0;
      }
    }

    -webkit-filter: drop-shadow(0px 2px 20px rgba(0, 0, 0, 0.2));
    filter: drop-shadow(0px 2px 20px rgba(0, 0, 0, 0.2));
    transition: all cubic-bezier(0.87, 0.13, 0.25, 1) 0.3s;
    h3 {
      @include theme-aware("color", "text-color");
    }
    &::after {
      content: "";
      position: absolute;
      transform-origin: -19% -322%;
    }
  }

  // .fr-tooltipPro-icon:hover ~ .fr-tooltipPro-content {
  //     opacity: 1;
  //     visibility: visible;
  // }

  &.fr-tooltipPro-query,
  &.fr-tooltipPro-info,
  &.fr-tooltipPro-query-2 {
    .fr-tooltipPro-content {
      @include theme-aware("background-color", "tooltip-bg");
      @include theme-aware("color", "tooltip-text");

      &::after {
        width: 20px;
        height: 20px;
        @include theme-aware("background-color", "tooltip-bg");
        @include border-radius(0);
      }
    }
  }

  &.fr-tooltipPro-bottom {
    .fr-tooltipPro-content {
      top: 100%;
      margin-top: 17px;

      &::after {
        bottom: 100%;
        margin-bottom: -30px;
        z-index: -1;
      }
    }
  }

  &.fr-tooltipPro-top {
    .fr-tooltipPro-content {
      bottom: 100%;
      margin-bottom: 17px;
    }
  }

  &.fr-tooltipPro-bottom,
  &.fr-tooltipPro-top {
    .fr-tooltipPro-content {
      left: 72px;
      transform: translate(-50%);
      -webkit-transform: translate(-50%);
      -moz-transform: translate(-50%);
      -ms-transform: translate(-50%);
      -o-transform: translate(-50%);

      &::after {
        left: 46%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        rotate: 45deg;
      }
    }
  }

  &.fr-tooltipPro-left {
    .fr-tooltipPro-content {
      right: 100%;
      margin-right: 17px;
    }
  }

  &.fr-tooltipPro-right {
    .fr-tooltipPro-content {
      left: 100%;
      margin-left: 17px;
    }
  }

  &.fr-tooltipPro-left,
  &.fr-tooltipPro-right {
    .fr-tooltipPro-content {
      top: 50%;
      transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
    }
  }

  &.fr-tooltipPro-top {
    .fr-tooltipPro-content {
      left: 50%;
      transform: translateX(-50%);

      &::after {
        transform-origin: 5px 6px;
        left: 50%;
        top: 100%;
        transform: translateX(-50%);
        margin-top: -7px;
        border-radius: 3px;
      }
    }
  }
}
//tooltip pro style start
