@use "../abstract/color-themes" as *;
@use "../abstract/mixins" as *;

.info-box {
    width: 565px;
    padding: 30px;
    @include theme-aware('background-color', 'menu-bg');
    border: 1px solid;
    @include theme-aware('border-color', 'sidebar-border-color');
    border-radius: 10px;

    header {
        margin-block-end: 30px;
        padding-block-end: 20px;
        border-bottom: 1px solid;
        @include theme-aware('border-bottom-color', 'sidebar-border-color');

        h5 {
            @include theme-aware('color', 'link-text-color');
            font-size: 20px;
            font-weight: 600;
            letter-spacing: 0.2px;
            margin-block: 0;
        }
    }

    .info-box-content {
        border-bottom: 1px solid;
        border-bottom-color: #313037;
        padding-bottom: 1rem;

        .user-image-name {
            margin-block-end: 30px;

            figure {
                height: 48px;
                flex: 0 0 48px;
                margin-inline-end: 8px;
                background-repeat: no-repeat;
                background-size: cover;
                border-radius: 50%
            }

            h4 {
                @include theme-aware('color', 'text-para-color');
                font-size: 20px;
                font-weight: 600;
                letter-spacing: 0.2px;
                flex: 1 1 auto;

                .plan-alert-button {
                    display: inline-flex;
                    align-items: center;
                    padding-inline: 30px;
                    border-radius: 30px;
                    height: 48px;
                    @include theme-aware('background-color', 'listing-popup-bg');
                    border: 1px solid;
                    @include theme-aware('border-color', 'sidebar-border-color');
                    @include theme-aware('color', 'text-para-color');
                    text-transform: uppercase;

                    .fr-tooltip-icon {
                        margin-inline-end: 0;
                        height: inherit;

                        svg {
                            width: 18px;
                            height: 18px;
                        }
                    }
                    .fr-tooltip {
                        margin-inline-start: 8px;
                        vertical-align: middle;
                        text-transform: initial;

                        &.fr-tooltip-top {
                            .fr-tooltip-content {
                                &:after {
                                    width: 22px;
                                    height: 22px;
                                    bottom: 0;
                                    margin-bottom: -13px;
                                }
                            }
                        }
                    }
                }
            }
        }

        p {
            @include theme-aware('color', 'link-text-color');
            font-size: 18px;
            font-weight: 600;

            > * {
                @include theme-aware('color', 'text-color');
                font-weight: normal;
            }

            &:last-child {
                > * {
                    @include theme-aware('color', 'dark-light-border')
                }
            }
        }

        p + p {
            margin-block-start: 16px;
        }
    }

    .info-box-footer {
        padding-top: 1rem;

        .info-box-footer-txt {
            color: rgba(255, 255, 255, 1);
            font-size: 14px;
            font-weight: 400;
            line-height: 19px;
        }

        .value-info {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-top: 1rem;

            .intended-amount {
                width: 343px;
                height: 40px;
                background-color: #313037;
            }

            .save-amount-btn {
                width: 152px;
                height: 40px;
                background-color: #605BFF;
                border-radius: 4px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 14px;
                font-weight: 600;
                line-height: 19px;
                cursor: pointer;
            }

            .value-amount {  
                color: rgba(255, 255, 255, 1);
                font-size: 20px;
                font-weight: 400;
                line-height: 27px;
            }

            .value-action:hover {
                background-color: rgba(242, 147, 57, 0.15);
                color: rgba(242, 147, 57, 1);
                background-image: url("../../images/EditAmountHover.svg");
            }

            .value-action {
                width: 90px;
                height: 32px;
                display: flex;
                align-items: center;
                justify-content: center;
                border: 1px solid rgba(49, 48, 55, 1);
                border-radius: 20px;
                cursor: pointer;
                background-image: url("../../images/EditAmountIcon.svg");
                background-position-x: 16px;
                background-position-y: center;
                background-repeat: no-repeat;
                color: rgba(118, 116, 133, 1);
                font-size: 14px;
                font-weight: 500;
                line-height: 19px;
                
                .value-action-txt {
                    margin-left: 12px;
                }
            }
        }
    }

    .fr-tooltip-content {
        width: 162px;
    }
}